<nb-tabset >
    <nb-tab tabTitle="Create Employee Details">
        <form id="employeeForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="employeeCode">Emplyoee Code <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="employeeCode" formControlName="employeeCodeFormControl" placeholder="AutoGenerate" [(ngModel)]="code" readonly />
                </div>
                <div class="form-group col-md-4">
                    <label for="employeeName">Employee Name <span style="color: red;">*</span> </label>
                    <input nbInput name="employeeName" formControlName="employeeNameFormControl" placeholder="Employee Name"
                    [ngClass]="{ 'is-invalid': submitted && f.employeeNameFormControl.errors }" class="form-control" required/>
                    <div *ngIf="submitted && f.employeeNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.employeeNameFormControl.errors.required">Employee Name is required</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="employeeAddress">Address <span style="color: red;">*</span> </label><br>
                    <textarea nbInput  name="employeeAddress" class="form-control" placeholder="Address" formControlName="employeeAddressFormControl"
                     [ngClass]="{ 'is-invalid': submitted && f.employeeAddressFormControl.errors }" required ></textarea>
                    <div *ngIf="submitted && f.employeeAddressFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.employeeAddressFormControl.errors.required">Address is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone Number <span style="color: red;">*</span> </label>
                    <input nbInput type="text" name="phoneNumber" (keypress)="keyPress($event)" placeholder="Phone Number" formControlName="phoneNumberFormControl" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNumberFormControl.errors  }" required/>
                    <div *ngIf="submitted && f.phoneNumberFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.phoneNumberFormControl.errors.required"> Phone Number is Required</div>
                        <div *ngIf="submitted &&  f.phoneNumberFormControl.errors?.pattern ">Phone number must be at least 10 numbers </div>
                    </div>
                </div>
                <!-- <div class="form-group col-md-4">
                    <label for="department">Department Name: </label><br>
                    <input nbInput name="Department" formControlName="departmentFormControl" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.departmentFormControl.errors  }" required/>
                    <div *ngIf="submitted && f.departmentFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.departmentFormControl.errors.required">Department Name is required</div>
                    </div>
                </div> -->
                <div class="form-group col-md-4">
                    <label for="employeeDepartment">Department Name <span style="color: red;">*</span></label><br>
                    <nb-select name="departmentFormControl" id="departmentFormControl"  formControlName="departmentFormControl" placeholder="Department Name"
                        [(selected)]="selectedDepartment">
                        <nb-option *ngFor="let o of department_list" value="{{o.id}}">
                            {{ o.department_name }}
                        </nb-option>
                    </nb-select>
                </div>
            </div><br>
        
           
           
            <div class="form-row">
                <div class="form-group col-md-2">
                 <button nbButton status="success" type="submit"  size="small" >Save</button>
                </div>
            </div>
            
        </form>

      
    </nb-tab>
    <nb-tab tabTitle="Employee List"  >
        <div class="row" >
            <ng2-smart-table [settings]="employeeSettings" [source]="employeeData"></ng2-smart-table>
            </div>
    </nb-tab>
</nb-tabset>
