<div class="row">
    <a nbButton [routerLink]="['/PurchaseRequisitionList']" status="success" size="small" >Back to PurchaseRequisitionList  </a>
</div>  <br>


<nb-tabset>
    <nb-tab tabTitle="Purchase Requisition Information" [active]="IsPRInfo">

        <div id="" [formGroup]="prForm">
            <div class="row">
                <div class="col-md-4">
                    <label for="prNo">PR Number</label>
                    <input nbInput formControlName="prNoFormControl" name="prNo" placeholder="PR Number"
                        [readonly]="true" />
                </div>
                <div class="col-md-4">
                    <label for="prDate">Date </label>
                    <input nbInput formControlName="prDateFormControl" name="prDate" [nbDatepicker]="datepicker"
                        placeholder="PR Date" />
                        <!-- <input [nbDatepicker]="datepicker"> -->
                        <nb-datepicker #datepicker></nb-datepicker>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <label for="user">User </label>
                    <input nbInput *ngIf="!pr_id" formControlName="userFormControl" name="user" value="{{login_user}}"
                        placeholder="user" />
                    <input nbInput *ngIf="pr_id" formControlName="userFormControl" name="user" value=""
                        placeholder="user" [readonly]="true"  />
                </div>
                <div class="col-md-4">
                    <label for="department">Department </label>
                    <nb-select name="department" formControlName="departFormControl" [(selected)]="selectedOption">
                        <nb-option *ngFor="let o of department_list" value="{{o.id}}">
                            {{ o.department_name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-4">
                    <label for="status">PR Status </label>
                    <input nbInput formControlName="statusFormControl" name="user" 
                        placeholder="staus" [readonly]=true/>
                </div>
            </div>
        </div><br>

        <div class="row">
            <nb-card accent="info">
                <nb-card-header>Product Details</nb-card-header>
                <nb-card-body>
                    <button nbButton (click)="open(dialog);" status="success" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">Add</button> &nbsp;&nbsp;
                    
                    <table class="table table-hovered">
                        <thead>
                            <th></th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Store</th>
                            <th>Required Qty</th>
                            <th>Unit</th>
                            <th>Required Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selected_product_list" [class.hidden]="!item.active">
                                <td><button nbButton (click)="delete(item);" status="danger" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">X</button><br></td>
                                <td><input nbInput placeholder="" value={{item.product_code}}/></td>
                                <td><input nbInput placeholder="" value={{item.product_name}}/></td>
                                <td><input nbInput placeholder="description" [(ngModel)]="item.description"/></td>
                                <td><input nbInput placeholder="store name" [(ngModel)]="item.store"/></td>
                                <td><input nbInput type="number" placeholder="Quantity" [(ngModel)]="item.required_qty" oninput="validity.valid || (value='')" /></td>
                                <td><nb-select name="item.unit" [(selected)]="item.unit">
                                    <nb-option *ngFor="let o of unit_list" value="{{o.id}}">
                                        {{ o.PrimaryUnit }}
                                    </nb-option>
                                </nb-select></td>
                                <td><input nbInput [(ngModel)]="item.expected_date" [nbDatepicker]="datepicker"
                                    placeholder="Date" />
                                    <!-- <input [nbDatepicker]="datepicker"> -->
                                    <nb-datepicker #datepicker></nb-datepicker>
                                    <!-- <input nbInput  value={{item.expected_date}} /></td> -->
                               
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body>
                
            </nb-card>
            </div>
        <div class="row"> 

                <div class="col-md-6">
                    <button nbButton *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'" status="success" (click)="savePR();" ngxPermissionsOnly="['purchase.add_purchaserequisitionproductlist']" >Save</button>&nbsp;&nbsp;
                    <button nbButton *ngIf="pr_status=='WAITING_FOR_APPROVAL'" status="success" (click)="approvePR();" >Approve</button>&nbsp;&nbsp;
                    <button nbButton *ngIf="pr_status=='WAITING_FOR_APPROVAL'" status="danger" (click)="rejectPR();" >Reject</button>&nbsp;&nbsp;
                </div>
                

        </div>
    </nb-tab>
</nb-tabset>

<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Product List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchProduct" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of data">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.product_name }} - {{item.product_code }}</i>
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>