<div class="form-row">
    <a nbButton [routerLink]="['/PurchaseRequisitionList']" status="success" size="small" >Back to Purchase RequisitionList  </a>
</div>  <br>


<nb-tabset>
    <nb-tab tabTitle="Purchase Requisition Information" [active]="IsPRInfo">

        <form id="" [formGroup]="prForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="prNo">PR Number </label>
                    <input nbInput formControlName="prNoFormControl" name="prNo" placeholder="System Generated"
                        [readonly]="true" />
                    
                </div>
                <div class="form-group col-md-3">
                    <label for="prDate">Date <span style="color: red;">*</span></label>
                    <input nbInput formControlName="prDateFormControl" name="prDate" [nbDatepicker]="datepicker"
                        placeholder="PR Date" 
                        [ngClass]="{ 'is-invalid': submitted && f.prDateFormControl.errors }" class="form-control"/>
                        <div *ngIf="submitted && f.prDateFormControl.errors" class="invalid-feedback">
                                <div *ngIf="f.prDateFormControl.errors.required">Date is required</div>
                            </div>
                       
                                        <!-- <input [nbDatepicker]="datepicker"> -->
                        <nb-datepicker #datepicker></nb-datepicker>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="user">User <span style="color: red;">*</span></label>
                    <input nbInput *ngIf="!pr_id" formControlName="userFormControl" name="user" value="{{login_user}}"
                        placeholder="user" />
                    <input nbInput *ngIf="pr_id" formControlName="userFormControl" name="user" value=""
                        placeholder="user" [readonly]="true"  />
                </div>
                <div class="form-group col-md-3">
                    <label for="department">Department <span style="color: red;">*</span></label>
                    <nb-select name="department" formControlName="departFormControl" [(selected)]="selectedOption">
                        <nb-option *ngFor="let o of department_list" value="{{o.id}}">
                            {{ o.department_name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="col-md-4">
                    <label for="status">PR Status </label><br>
                    <input nbInput formControlName="statusFormControl" name="user" 
                        placeholder="staus" [readonly]=true/>
                </div>
            </div>
        </form> <br>
       

        <div class="form-row">
            <div class=" form-group col-md-12">
            <nb-card accent="info">
                <nb-card-header>Product Details</nb-card-header>
                <nb-card-body>
                    <button nbButton (click)="open(dialog);" status="success" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">Add </button> <span style="color: red;">*</span>&nbsp;&nbsp;
                    
                    <table class="table table-responsive">
                        <thead>
                            <th></th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <!-- <th>Description</th> -->
                            <th>Store</th>
                            <th>Required Qty</th>
                            <th>Unit</th>
                            <th>Unit price</th>
                            <th>Required Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selected_product_list" [class.hidden]="!item.active">
                                <!-- <td *ngIf="!deleteform-row"><button nbButton (click)="remove_item(item);" status="danger" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">X</button><br></td> -->
                                <td ><button nbButton (click)="delete(item);" status="danger" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">X</button><br></td>
                                <td><input class="form-control form-control-sm"  style="width: 10em;"  placeholder="" value={{item.product_code}}/></td>
                                <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="" value={{item.product_name}}/></td>
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="description" [(ngModel)]="item.description"/></td> -->
                                <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="store name" [(ngModel)]="item.store"/></td>
                                <td><input class="form-control form-control-sm" style="width: 10em;" type="number" min="0"  placeholder="Quantity" [(ngModel)]="item.required_qty" oninput="validity.valid || (value='')" /></td>
                                <td><input class="form-control form-control-sm" style="width: 10em;" name="item.unit"   placeholder="Unit " [(ngModel)]="item.unit"  />
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" name="item.unit_price"   placeholder="Unit Price " [(ngModel)]="item.unit_price"  /> -->
                                    <!-- <nb-select size="small" name="item.unit" [(selected)]="item.unit">
                                    <nb-option  *ngFor="let o of unit_list" value="{{o.id}}">
                                        {{ o.PrimaryUnit }}
                                    </nb-option>
                                </nb-select> -->
                            </td>
                                <td><input class="form-control form-control-sm" style="width: 10em;" [(ngModel)]="item.expected_date" [nbDatepicker]="datepicker"
                                    placeholder="Date" />
                                    <!-- <input [nbDatepicker]="datepicker"> -->
                                    <nb-datepicker format="yyyy-MM-DD" #datepicker></nb-datepicker>
                                    <!-- <input nbInput  value={{item.expected_date}} /></td> -->
                               
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body>
                
            </nb-card>
        </div>
        </div>
        <div class="form-row"> 

                <div class="form-group col-md-6">
                    <button nbButton *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'" status="success" (click)="savePR();"  >Save</button>&nbsp;&nbsp;
                    <button nbButton *ngIf="pr_status=='WAITING_FOR_APPROVAL'" status="success" (click)="approvePR();" >Approve</button>&nbsp;&nbsp;
                    <button nbButton *ngIf="pr_status=='WAITING_FOR_APPROVAL'" status="danger" (click)="rejectPR();" >Reject</button>&nbsp;&nbsp;
                </div>
                

        </div>
    
    </nb-tab>
</nb-tabset>

<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Product List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchProduct" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of data| search_filter:'product_name':searchProduct">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.product_name }} - {{item.product_code }}</i>
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>