<div class="container justify-content-center" style="margin-bottom: 1em;;margin-top: 2em;">

    <div>
        <div id="order">
            <h2>My Orders</h2>
        </div>
        <div id="accordion" aria-multiselectable="true">
            <div class="row" *ngFor="let order of Orders; let i = index">
                <div class="col mt-4">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media" [id]="'heading'+i">
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto">
                                            <h3 class="mb-0"> {{order.order_number}}</h3>
                                        </div>

                                        <div class="col my-auto">
                                            <h6 class="mb-0">&#8377;{{order.order_amount}}</h6>
                                        </div>
                                        <div class="col my-auto"> <small>{{order.order_status_text}}</small></div>
                                        <div class="col my-auto">
                                            <button class="btn btn-outline-info" *ngIf="order.order_status >= 4" (click)="get_invoice(order.order_number)"><i class="fa fa-download" aria-hidden="true"></i>                                            </button>
                                        </div>
                                        <div class="col my-auto">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" (click)="GetOrderdetail(order)" [href]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                                            Details
                                          </a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div [id]="'collapse'+i" class="panel-collapse collapse row" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
                                <div style="width: 100%;">
                                    <hr class="my-3 ">
                                </div>
                                <div style="width: 100%;">
                                    <div class="container panel-body">
                                        <h2></h2> Shipment Details
                                        <div *ngIf="order.shipment_details!=null">
                                            <div *ngFor="let orderDetails of order.shipment_details" style="width: 100%;">
                                                <div class="card card-2">
                                                    <div class="card-body">
                                                        <div class="media">
                                                            <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{BaseUrl+getimage(orderDetails.product_images)}}" style="width:80px;height:80px" /> </div>
                                                            <div class="media-body my-auto text-right">
                                                                <div class="row my-auto flex-column flex-md-row">
                                                                    <div class="col my-auto">
                                                                        <h3 class="mb-0"> {{orderDetails.product.product_name}}</h3>
                                                                    </div>

                                                                    <div class="col my-auto">
                                                                        <h6 class="mb-0">&#8377;{{orderDetails.sub_total}}</h6>
                                                                    </div>
                                                                    <div class="col my-auto"> <small>{{order.order_status_text}}</small></div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
