
 <!-- <nb-tabset>
       <nb-tab tabTitle="Invoice"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            // the selector will match all input controls of type :checkbox
// and attach a click event handler
$("input:checkbox").on('click', function() {
// in the handler, 'this' refers to the box clicked on
var $box = $(this);
if ($box.is(":checked")) {
// the name of the box is retrieved using the .attr() method
// as it is assumed and expected to be immutable
var group = "input:checkbox[name='" + $box.attr("name") + "']";
// the checked state of the group/box on the other hand will change
// and the current value is retrieved using .prop() method
$(group).prop("checked", false);
$box.prop("checked", true);
} else {
$box.prop("checked", false);
}
});
        </script>

<nb-card>
    <nb-card-body>
   <form style="float: left;" [formGroup]="invoiceForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()" >
        <table class="table table-striped" style="width:100%;border-collapse: collapse;">
            <tr>
              <td>
                <div style="float: left;">
                  <button type="button" nbButton status="info" [routerLink]="['/ManageCustomer']">Create Customer</button>
                </div>
              </td>
            </tr>
            <tr>
              <th colspan="3" style="text-align: center;">
                Invoice
              </th>
            </tr>
            <tr>
              <table>
                <tr>
                  <td>
                    <label for="">Customer Name <span style="color: red;">*</span> </label><br>
                    <input nbInput formControlName="customerNameFormControl" size="small" style="width: 10em;" name="CustomerNameFormControl" placeholder="Customer Name"
                    (keypress)="open(dialog)"
                    (click)="open(dialog)" readonly     [ngClass]="{ 'is-invalid': submitted && f.customerNameFormControl.errors }" class="form-control" >
                    <div *ngIf="submitted && f.customerNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.customerNameFormControl.errors.required">Customer Name is required</div>
                    </div>
                  </td>
                  <td>
                    <label for="">Phone Number<span style="color: red;">*</span></label> <br><input nbInput size="small" style="width: 10em;" formControlName="customerMobileNumberFormControl"   name="salesNewFormControl" placeholder="Phone Number" (keypress)="open(phone_dialog)"
                    (click)="open(phone_dialog)" >
                  </td>
                  <td><label for="">Email</label><br>
                     <input nbInput size="small" style="width: 10em;" formControlName="customerEmailFormControl"  name="salesNewFormControl" placeholder="Email" readonly >
                    </td>
                  <td><label for="">Bill Date</label><br>
                    <input nbInput  formControlName="billDateFormControl" name="billDateFormControl" placeholder="Date" type="date"></td>

                  <!-- <td><input type="hidden" name=""></td>
                  <td style="visibility: hidden;"> <button nbButton size="small" status="danger" >Delete</button></td>
                  <td style="visibility: hidden;"> <button nbButton size="small" status="info" >Next</button></td>
                  <td style="visibility: hidden;"> <button nbButton size="small" status="info" >Back</button></td> -->
                </tr>
                <tr>
                  <td colspan="3">
                      <label for="">BarCode</label> <br>
                      <input nbInput size="small" style="width: 10em;" (keydown.enter)="bar_code()" #focus [(ngModel)]="barcode" formControlName="barCodeFormControl" id="barcode" name="barCodeFormControl" placeholder="Bar Code" >
                  </td>
              </tr>
              </table>

            </tr>

            <tr>
                <td>
                    <table class="table table-responsive text-wrap">
                    <thead>
                      <tr>
                        <th><button type="button" nbButton size="tiny" (click)="add_items_product(dialog_single_product)" status="success">Add Product</button></th>
                        <th><button type="button" nbButton size="tiny" (click)="add_items_service(dialog_single_service)" status="success">Add Service</button></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr></tr>
                        <th></th>
                        <th>Item Description</th>
                        <th>Employee/Theraphist</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Sell Price</th>
                        <th>Disc Amount</th>
                        <th>Gst %</th>
                        <th>Gst value</th>
                        <th>Item Total</th>
                     

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoice_items; let  i = index">
                            <td><button nbButton (click)="remove_item(item);" status="danger" size="small">X</button></td>

                            <td>
                                <input class="form-control form-control-sm" type="text" #desc readonly  value="{{item.item_name}}" [(ngModel)]="item.item_name"   placeholder="Item Name"  [ngModelOptions]="{standalone: true}"
                                    style="width: 10em;" (input)="calculate_price()"
                              
                               
                                />&nbsp;
                                   
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-info" (click)="employee_open(stylist_dialog,item)">({{item.employee_list.length}}) View Theraphist</button>
                                
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" name="{{item.quantity}}" [(ngModel)]="item.quantity" placeholder=""  [ngModelOptions]="{standalone: true}"
                                    value="{{item.quantity}}" (change)="calculate_price()"  size="small" style="width: 5em;"
                                    type="number" min="0"
                                />&nbsp;
                            </td>
                            <td>
                                <input class="form-control form-control-sm"    [(ngModel)]="item.unit" placeholder=""  [ngModelOptions]="{standalone: true}"
                                value="{{item.unit}}" size="small" oninput="validity.valid || (value='')"  style="width: 4em;" readonly/>&nbsp;
                            </td>
                            <td>
                                <input class="form-control form-control-sm"  min="0"  [(ngModel)]="item.price" placeholder="Price"  [ngModelOptions]="{standalone: true}"
                                value="{{item.price}}" size="small" oninput="validity.valid || (value='')" (change)="calculate_price()"  style="width: 5em;" />&nbsp;

                            </td>
                            <td>
                              <input class="form-control form-control-sm"  min="0"   [(ngModel)]="item.discount" placeholder=""  [ngModelOptions]="{standalone: true}"
                              value="{{item.discount}}" size="small" oninput="validity.valid || (value='')" (change)="calculate_price()"  style="width: 5em;" />&nbsp;

                          </td>
                            <td>
                                <input class="form-control form-control-sm"  min="0" type="number"  [(ngModel)]="item.tax" placeholder=""  [ngModelOptions]="{standalone: true}"
                                value="{{item.tax}}" size="small" oninput="validity.valid || (value='')"  (change)="calculate_price()" style="width: 5em;"/>&nbsp;

                            </td>

                            <td>
                                <input class="form-control form-control-sm"  min="0"   [(ngModel)]="item.gst_value" placeholder=""  [ngModelOptions]="{standalone: true}"
                                value="{{item.gst_value}}" size="small" step="0.1" oninput="validity.valid || (value='')" (change)="calculate_price()"  style="width: 5em;" readonly/>&nbsp;

                            </td>
                            <td>
                                <input class="form-control form-control-sm"  min="0"  step="0.1"  [(ngModel)]="item.item_total" placeholder=""  [ngModelOptions]="{standalone: true}"
                                value="{{item.item_total}}" size="small" oninput="validity.valid || (value='')" (change)="calculate_price()"  style="width: 5em;" readonly/>&nbsp;

                            </td>
                       
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>

            <tr>
              <table>
                <tr>
                  <td style="text-align: center;">Subtotal: <br> <input step="0.1"  nbInput size="small" (change)="calculate_price()" style="width: 8em;"  value="{{subtotal}}" readonly formControlName="subTotalFormControl"  name="subTotalFormControl" [(ngModel)]="selectedSubTotal" placeholder="Subtotal" ><br></td>
                  <td style="text-align: center;">Gst: <br><input size="small" style="width: 8em;" step="0.1"  nbInput formControlName="gstFormControl" name="gstFormControl"  value="{{gstValue}}" placeholder="GST" [(ngModel)]="selectedGstPercentage" readonly></td>

                  <td style="text-align: center;">SGst: <br><input size="small" style="width: 8em;" step="0.1"  nbInput formControlName="sgstFormControl" name="sgstFormControl"  value="{{sgst}}" placeholder="SGST" readonly></td>
                  <td style="text-align: center;">CGst: <br><input size="small" style="width: 8em;" step="0.1"  nbInput formControlName="cgstFormControl" name="cgstFormControl"  value="{{cgst}}" placeholder="CGST" readonly></td>
                  <td style="text-align: center;">IGst: <br><input size="small" style="width: 8em;" step="0.1"  nbInput formControlName="igstFormControl" name="igstFormControl"  value="{{igst}}" placeholder="IGST" readonly></td>
                  <td style="text-align: center;">Total:Include GST <br><input size="small" style="width: 8em;" step="0.1"  nbInput value="{{selectedTotalGst}}"  formControlName="gstTotalFormControl" name="salesNewFormControl" placeholder="INR" [(ngModel)]="selectedTotalGst" readonly></td>


                </tr>
                <tr>
                  <td style="text-align: center;">Discount Amount: <br><input size="small"  style="width: 8em;" value="{{totalDiscount}}"  step="0.1" nbInput formControlName="discountFormControl"  [(ngModel)]="totalDiscount" name="discountFormControl" placeholder="Total Discount" readonly></td>

                  <td style="text-align: center;">Grand Total: Incl. GST <br><input size="small"  style="width: 8em;" value="{{grandTotal}}"  step="0.1" nbInput formControlName="grandTotalFormControl"  [(ngModel)]="grandTotal" name="grandTotalFormControl" placeholder="Grand Total" readonly></td>

                  <td style="text-align: center;">Advance Amount: <br><input size="small"  style="width: 10em;" value="{{advanceAmount}}"  step="0.1" nbInput formControlName="advanceAmountFormControl" [(ngModel)]="advanceAmount" name="advanceAmountFormControl" placeholder="Advance Amount " readonly></td>

                  <td style="text-align: center;">Balance Amount: <br><input size="small"  style="width: 10em;" value="{{balanceAmount}}"  step="0.1" nbInput formControlName="balanceAmountFormControl" [(ngModel)]="balanceAmount" name="balanceAmountFormControl" placeholder="Balance Amount " readonly></td>
                  <td style="text-align: center;">Amount: <br><input size="small"  style="width: 8em;" value="{{amount}}"  step="0.1" nbInput formControlName="amountFormControl"  [(ngModel)]="amount" name="amountFormControl" (change)="calculate_price()" placeholder="Amount" ></td>
                </tr>
                <tr>
                  <td style="text-align: center;">Change: <br><input size="small"  style="width: 8em;" value="{{change}}"  step="0.1" nbInput formControlName="changeFormControl"  [(ngModel)]="change" name="changeFormControl" placeholder="Change" readonly></td>
                  <td style="text-align: center;">
                        <label for="event">Payment Method:<span style="color: red;">*</span></label><br>
                        <nb-select (change)="onEvnetChange($event)" placeholder="Payment Method" name="events"
                          formControlName="paymentFormControl" [(selected)]="selectedEvents" >
                          <nb-option *ngFor="let e of Events" value="{{e.value}}">{{e.name}}</nb-option>
                        </nb-select>
                  </td>
                                 </tr>
                                 <tr>
                                  <td (change)="onEvnetChange($event)" style="text-align: center;">
                                    <div style="text-align:left;" *ngIf="selectedEvents === 'CREDIT' ||selectedEvents === 'SPLIT'">
                                     Enter text:<br>
                                    <input size="small"  style="width: 14em;" value="{{credit}}"  step="0.1" nbInput formControlName="CreditFormControl" class="form-control" [(ngModel)]="credit" name="CreditFormControl" placeholder="Enter Text" >
                                    </div>
                                </td>
                                  <td (change)="onEvnetChange($event)"style="text-align: center;">
                                    <div style="text-align: center;" *ngIf="selectedEvents === 'SPLIT'">
                                    Enter text:<br>
                                    <input size="small"  style="width: 14em;" value="{{split}}"  step="0.1" nbInput formControlName="SplitFormControl" class="form-control" [(ngModel)]="split" name="SplitFormControl" placeholder="Enter Text" >
                                    </div>
                                </td>
                                  <td style="text-align: center;">
                                      <div *ngIf="selectedEvents === 'UPI'">
                                        <label for="event">UPI Type<span style="color: red;">*</span></label><br>
                                        <nb-select (change)="onEvnetChange($event)" placeholder="UPI Type" name="upitype"
                                          formControlName="upiTypeFormControl"  [(ngModel)]="selectedUpiEvents">
                                          <nb-option *ngFor="let e of Upi" value="{{e.value}}">{{e.name}}</nb-option>
                                        </nb-select>
                                      </div>
                                  </td>
                                  <td (change)="onEvnetChange($event)" style="text-align: center;">
                                      <div style="text-align: center;" *ngIf="selectedEvents === 'UPI' || selectedEvents === 'CARD' || selectedEvents === 'CREDIT' ||selectedEvents === 'SPLIT'">
                                      Transaction Id:<span style="color: red;">*</span><br>
                                      <input size="small"  style="width: 14em;" value="{{transaction}}"  step="0.1" nbInput formControlName="TransactionIdFormControl"  [ngClass]="{ 'is-invalid': submitted && f.customerNameFormControl.errors }" class="form-control" [(ngModel)]="transaction" name="TransactionIdFormControl" placeholder="Transaction  Id" >
                                      <div *ngIf="submitted && f.TransactionIdFormControl.errors" class="invalid-feedback">
                                            <div *ngIf="f.TransactionIdFormControl.errors.required">Transaction Id is required</div>
                                        </div>
                                      </div>
                                  </td>
                
                                 </tr>
                <tr>

                    <td colspan="4" style="text-align:center;">
                        <button nbButton status="success" type="submit" (click)="saveBill()"  size="small" >Save</button>
                    </td>
                </tr>
              </table>
            </tr>

        </table>
    </form>
    </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Customer List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchCus" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of customer_list| search_filter:'customer_name,phone_number':searchCus">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.customer_name }}-{{item.phone_number }} </i>
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
 
  <ng-template #stylist_dialog let-data let-ref="dialogRef" >
    <nb-card size="large" style="width: 800px;">
        <nb-card-header>Stylist <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchStylist" /> </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-8">
              <h5>Employee List</h5>
              <nb-list>
                <nb-list-item *ngFor="let item of data.data | search_filter:'employee_name':searchStylist">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i>
                    <button nbButton (click)="ref.close(item)" size="small">Add</button>
                </nb-list-item>
            </nb-list>
            </div>
            <div class="col-md-8">
              <h5>Selected Employee</h5>
              <nb-list>
                <nb-list-item *ngFor="let item of data.selected_employee.employee_list">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i>
                    <button nbButton (click)="remove_employee(data.selected_employee,item)"  size="small">Remove</button>
                </nb-list-item>
            </nb-list>
            </div>
          </div>
           
       
        
          
      </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
  <!-- <ng-template #dialog_service let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Service List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchService" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of booking_history | search_filter:'customer_name':searchService">
              <i class="mr-auto mt-2 mt-lg-0">{{item.service__service_name}} </i>
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template> -->


  <ng-template #dialog_product let-data let-ref="dialogRef">
    <nb-card size="large" style="width: 500px;">
        <nb-card-header>Product List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchPro" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of product_list | search_filter:'product_name,product_price__qty,product_price__sell_price,product_price__serial_number':searchPro">
                    <i class="mr-auto mt-2 mt-lg-0"> {{ item.product_name }}-QTY({{item.product_price__qty}}) </i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #dialog_single_product let-data let-ref="dialogRef">
  <nb-card size="large" style="width: 600px;">
      <nb-card-header>Product List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchProduct" /> </nb-card-header>
      <nb-card-body>
                  <table class="table">
                      <tr>
                          <th>Product Name</th>
                          <th>Product Quantity</th>
                          <th>Serial Number</th>
                          <th>Sell Price</th>
                          <th></th>
                        </tr>
                        <tr *ngFor="let item of multi_product_list |  search_filter:'product__product_name,product__description,qty,serial_number,sell_price':searchProduct">
                          <td>{{item.product__product_name}}<br>{{item.product__description}}</td>
                          <td>{{item.qty}}</td>
                          <td>{{item.serial_number}}</td>
                          <td>{{item.sell_price}}</td>
                          <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                        </tr>
                  </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog_single_service let-data let-ref="dialogRef">
  <nb-card size="large" style="width: 600px;">
      <nb-card-header>Service List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchProduct" /> </nb-card-header>
      <nb-card-body>
                  <table class="table">
                      <tr>
                          <th>Service Name</th>
                          <th>Quantity</th>
                          <th>Sell Price</th>
                          <th></th>
                        </tr>
                        <tr *ngFor="let item of multi_service_list |  search_filter:'service_name,service_desc':searchProduct">
                          <td>{{item.service_name}}<br>{{item.service_descn}}</td>
                          <td>{{item.qty}}</td>
                          <td>{{item.price}}</td>
                          <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                        </tr>
                  </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>


<ng-template #phone_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>customer Phone Number <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchPh" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of customer_list |search_filter:'phone_number,customer_name':searchPh ">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.phone_number }}-{{item.customer_name}}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #barcode_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Barcode Number <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchBarCode" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of all_product |search_filter:'serial_number':searchBarCode ">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.serial_number }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<ng-template #employee_dialog1 let-data let-ref="dialogRef">
  <nb-card size="medium">
      <nb-card-header>Employee List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchEmp" /></nb-card-header>
      <nb-card-body>
          <table class="table table-hover">
              <tbody>
                  <tr *ngFor="let item of employee_list| search_filter:'employee_name':searchEmp " (click)="ref.close(item)" >
                      <td><i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i></td>              
                      <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                  </tr>
              </tbody>
          </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #employee_dialog2 let-data let-ref="dialogRef">
  <nb-card size="medium">
      <nb-card-header>Employee List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchEmp" /></nb-card-header>
      <nb-card-body>
          <table class="table table-hover">
              <tbody>
                  <tr *ngFor="let item of employee_list| search_filter:'employee_name':searchEmp " (click)="ref.close(item)" >
                      <td><i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i></td>              
                      <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                  </tr>
              </tbody>
          </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #employee_dialog3 let-data let-ref="dialogRef">
  <nb-card size="medium">
      <nb-card-header>Employee List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchEmp" /></nb-card-header>
      <nb-card-body>
          <table class="table table-hover">
              <tbody>
                  <tr *ngFor="let item of employee_list| search_filter:'employee_name':searchEmp " (click)="ref.close(item)" >
                      <td><i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i></td>              
                      <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                  </tr>
              </tbody>
          </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #employee_dialog4 let-data let-ref="dialogRef">
  <nb-card size="medium">
      <nb-card-header>Employee List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchEmp" /></nb-card-header>
      <nb-card-body>
          <table class="table table-hover">
              <tbody>
                  <tr *ngFor="let item of employee_list| search_filter:'employee_name':searchEmp " (click)="ref.close(item)" >
                      <td><i class="mr-auto mt-2 mt-lg-0">{{ item.employee_name }} </i></td>              
                      <td><button nbButton (click)="ref.close(item)" size="small">Select</button></td>
                  </tr>
              </tbody>
          </table>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
  </nb-card>
</ng-template>