
<div class="conatiner">
    <div class="form-row">
            <a nbButton [routerLink]="['/PurchaseOrderList']" status="success" size="small">Back to Purchase order list</a>
    </div>
    <nb-tabset>
        <nb-tab tabTitle="Purchase Order">
            <form id="purchaseOrderForm" [formGroup]="purchaseOrderForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()">

            <nb-card accent="info">
                <nb-card-header>Vendor Information</nb-card-header>
                <nb-card-body>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="vendor">Vendor Code <span style="color: red;">*</span></label>
                            <input nbInput formControlName="vendorCodeFormControl" name="vendor" placeholder="Select Vendor" (keypress)="vendor_open(vendor_dialog)" (click)="vendor_open(vendor_dialog)"
                            [ngClass]="{ 'is-invalid': submitted && f.vendorCodeFormControl.errors }" class="form-control" readonly >
                            <div *ngIf="submitted && f.vendorCodeFormControl.errors" class="invalid-feedback">
                                <div *ngIf="f.vendorCodeFormControl.errors.required">Vendor Code is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="vendor_name">Vendor Name</label><br>
                            <input nbInput formControlName="vendorNameFormControl" name="vendor_name" placeholder="Vendor Name" readonly/>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="payment_terms">Payment Terms <span style="color: red;">*</span></label><br>
                            <!-- <input nbInput formControlName="paymentTermsFormControl" name="payment_terms" placeholder="Payment Terms" /> -->
                            <nb-select name="tans_type" formControlName="paymentTermsFormControl" [(selected)]="selectedPaymentType">
                                <nb-option *ngFor="let o of payments_terms_list" value="{{o.key}}">
                                    {{ o.value }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div><br>
                    <div class="form-row" >
                        <div class="form-group col-md-4">
                            <label for="other_ref">Other Reference</label>
                            <input nbInput formControlName="otherRefFormControl" name="other_ref" placeholder="Other Reference" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="terms_delivery">Terms of Delivery</label>
                            <input nbInput formControlName="termsDeliveryFormControl" name="terms_delivery" placeholder="Terms of Delivery" />
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="note">Note </label><br>
                            <textarea nbInput formControlName="noteFormControl" name="note" placeholder="Note" ></textarea>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card accent="info">
                <nb-card-header> </nb-card-header>
                <nb-card-body>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="po_type">PO Type <span style="color: red;">*</span></label><br>
                        <nb-select name="po_type" formControlName="poTypeFormControl" [(selected)]="selectedPOType">
                            <nb-option *ngFor="let o of po_type_list" value="{{o.po_type_value}}">
                                {{ o.po_type_name }}
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="po_date">PO Date <span style="color: red;">*</span></label>
                        <input nbInput formControlName="poDateFormControl" class="form-control" #date name="po_date" [nbDatepicker]="po_date" placeholder="PO Date"
                        [ngClass]="{ 'is-invalid': submitted && f.poDateFormControl.errors }" />
                            <div *ngIf="submitted && f.poDateFormControl.errors" class="invalid-feedback">
                                <div *ngIf="f.poDateFormControl.errors.required">PO Date is required</div>
                            </div>
                        <nb-datepicker #po_date format="yyyy-MM-DD"></nb-datepicker>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="pr_number">Select PR Number <span style="color: red;">*</span></label>
                        <input nbInput formControlName="prNumberFormControl"  name="pr_number" placeholder="PR Number" (keypress)="pr_open(pr_dialog)" (click)="pr_open(pr_dialog)"
                         class="form-control" />
                            <!-- <div *ngIf="submitted && f.prNumberFormControl.errors" class="invalid-feedback">
                                <div *ngIf="f.prNumberFormControl.errors.required">PR Number is required</div>
                            </div> -->
                    </div>
                </div><br>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="po_number">PO Number</label><br>
                        <input nbInput formControlName="poNumberFormControl" name="po_number" placeholder="System Generated" readonly
                        />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="user">PO Raised By </label>
                        <input nbInput formControlName="userFormControl" name="user"
                            placeholder="user" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="trans_type">Transport Type  <span style="color: red;">*</span></label><br>
                        <nb-select  name="tans_type" formControlName="transportTypeFormControl" [(selected)]="selectedTransportType">
                            <nb-option *ngFor="let o of transport_type_list" value="{{o.key}}" >
                                {{ o.value }}
                            </nb-option>
                        </nb-select>
                    </div>
                </div><br>
                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="ship_address">Shipping Address <span style="color: red;">*</span></label>
                        <textarea nbInput formControlName="shipAddressFormControl" name="ship_address"
                            placeholder="Shipping Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shipAddressFormControl.errors }">
                           </textarea>
                           <div *ngIf="submitted && f.shipAddressFormControl.errors" class="invalid-feedback">
                            <div *ngIf="f.shipAddressFormControl.errors.required">Shipping Address is required</div>
                        </div>

                    </div>
                </div>

            </nb-card-body>
            </nb-card>
            <nb-card accent="info" >
              <nb-card-header>Product Details <button  type="button" nbButton size="small" status="success"
                   (click)="product_open(product_dialog)">  + ADD </button><br><br>
                   <button type="button" nbButton size="small" status="danger"
                   (click)="deleteSelection()">  DELETE SELECTION </button> Total Items : {{rdata.length}} </nb-card-header>
                <nb-card-body>
                    <ag-grid-angular
                        style="width: 100%; height: 500px;"
                        class="ag-theme-alpine"
                        [rowData]="rdata"
                        [columnDefs]="columnDefs"

                        [defaultColDef]="defaultColDef"
                        [rowSelection]="rowSelection"
                        (gridReady)="onGridReady($event)"
                        (cellValueChanged)="calculate($event)"
                        (rowClicked)="onRowClick($event)"
                        (cellClicked)="onCellClick($event)"
                    >
                    </ag-grid-angular>

                </nb-card-body>
                <nb-card-footer>
                    <table class="table table-hovered">
                        <thead style="font-size: smaller;" >
                            <th>Sub Total Amount</th>
                            <th></th>
                            <th>Packing %</th>
                            <th>Packing Amount</th>
                            <th>Total Order Value</th>
                            <th>SGST</th>
                            <th>CGST</th>
                            <th>IGST</th>
                            <th>Total Invoice Value</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ sub_total | currency:'INR' }}</td>
                                <td></td>
                                <td> <input nbInput  min="0" fieldSize ="small" formControlName="packPrecntFormControl" [(ngModel)]="packpercnt" name="packpercnt" size="tiny" placeholder="Packing %" (change)="calculate_total()" [value]="0.00" /></td>
                                <td> {{ packing_amount | currency : 'INR' }}</td>
                                <td> {{ total_amount | currency : 'INR' }} </td>
                                <td> {{ sgst | currency : 'INR' }}  </td>
                                <td> {{ cgst | currency : 'INR' }} </td>
                                <td> {{ igst | currency : 'INR' }} </td>
                                <td> {{ invoice_amount  | currency : 'INR'}} </td>


                            </tr>
                        </tbody>
                    </table>
                </nb-card-footer>
            </nb-card>
            <nb-card accent="info">
                <nb-card-header>PO Summary</nb-card-header>
                <nb-card-body>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="terms_conditions">Terms & Conditions</label>
                                <textarea nbInput formControlName="termsConditionFormControl" name="ship_address"
                                    placeholder="Terms & Conditions" ></textarea>
                            </div>
                        </div>
                </nb-card-body>
                <nb-card-footer >
                    <button nbButton type="button" size="small" status="success" (click)="save();"  *ngxPermissionsOnly="['purchase.add_poorderdetails']" >Save</button>
                </nb-card-footer>
            </nb-card>
            </form>
        </nb-tab>
    </nb-tabset>
    </div>
    <ng-template #vendor_dialog let-data let-ref="dialogRef">
        <nb-card size="medium">
            <nb-card-header>Vendor List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchVendor" /></nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor="let item of vendor_list | search_filter:'vendor_name,vendor_code':searchVendor ">
                        <i class="mr-auto mt-2 mt-lg-0">{{ item.vendor_name }} - {{item.vendor_code }}</i>
                        <button nbButton (click)="ref.close(item)" size="small">Select</button>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton (click)="ref.close()">Close</button>
            </nb-card-footer>
        </nb-card>
    </ng-template>
    <ng-template #product_dialog let-data let-ref="dialogRef" >
        <nb-card size="large" >
          <nb-card-header>Product List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchProduct" /> </nb-card-header>
          <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data | search_filter:'product_name,product_code':searchProduct">
                  <i class="mr-auto mt-2 mt-lg-0">{{ item.product_name }} - {{item.product_code }}</i>
                  <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
              </nb-list>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
      <ng-template #pr_dialog let-data let-ref="dialogRef" >
        <nb-card size="large" >
          <nb-card-header>PR List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchPR" /> </nb-card-header>
          <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data | search_filter:'pr_no':searchPR">
                  <i class="mr-auto mt-2 mt-lg-0">{{ item.pr_no }} </i>
                  <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
              </nb-list>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
