NgxEditor__MenuBar {
    overflow-x: auto;
}

::ng-deep {
    ng2-st-tbody-edit-delete {
        display: none;
        height: 0 !important;
        
    }
    ng2-st-tbody-custom {
        display: flex;
        text-align: center;
       
    }
    ng2-st-tbody-custom title{
        color: red;
    }
}