<nb-card>
<nb-tabset>
    <nb-tab tabTitle="create Customer Details">
        <form id="customerForm" [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="customerCode">Customer Code <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="customerCode" formControlName="customerCodeFormControl" placeholder="AutoGenerate" readonly />
                </div>
                <div class="col-md-4">
                    <label for="customerName">Customer Name <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="customerName" formControlName="customerNameFormControl" placeholder="Customer Name" id="customerNameFormControl"
                    [ngClass]="{ 'is-invalid': submitted && f.customerNameFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.customerNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.customerNameFormControl.errors.required">Name is required</div>
                    </div>
                    
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone Number <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="phoneNumber" (keypress)="keyPress($event)" placeholder="Phone Number"   class="form-control"   formControlName="phoneNumberFormControl"
                     [ngClass]="{ 'is-invalid': submitted && f.phoneNumberFormControl.errors  }" />
                    <div *ngIf="submitted && f.phoneNumberFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.phoneNumberFormControl.errors.required"> Phone Number is Required</div>
                        <div *ngIf="submitted &&  f.phoneNumberFormControl.errors?.pattern ">Phone number must be at least 10 numbers </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Email <span style="color: red;">*</span></label>
                    <input type="text" nbInput formControlName="customerEmailFormControl" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerEmailFormControl.errors }" />
                    <div *ngIf="submitted && f.customerEmailFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.customerEmailFormControl.errors.required">Email is required</div>
                        <div *ngIf="f.customerEmailFormControl.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="customerAddress">Address  </label><br>
                    <textarea nbInput  name="customerAddress" class="form-control" placeholder="Address" formControlName="customerAddressFormControl" [ngClass]="{ 'is-invalid': submitted && f.customerAddressFormControl.errors }" ></textarea>
                    <!-- <div *ngIf="submitted && f.customerAddressFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.customerAddressFormControl.errors.required">Address is required</div>
                    </div> -->
                </div>
                <div class="form-group col-md-4">
                    <label >Purchase/Service Bill <span style="color: red;">*</span></label>
                    <nb-select name="services" placeholder="Purchase/Service Bill" formControlName="customerServiceBillFormControl" [ngClass]="{ 'is-invalid': submitted && f.customerServiceBillFormControl.errors }">
                        <nb-option *ngFor="let o of Bills_list" value="{{o.name}}" >
                            {{ o.name }}
                        </nb-option>
                    </nb-select>
                    <div *ngIf="submitted && f.customerServiceBillFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.customerServiceBillFormControl.errors.required">bill is required</div>
                    </div>
                </div>
            </div> <br>
           
           
            <div class="row">
                <div class="col-md-2">
                 <button nbButton status="success"  size="small" (click)="saveCustomer();">Save</button>
                </div>
            </div>
            
        </form>  <br> <hr> <br><br>
        <nb-card>
            <nb-tabset>
                <nb-tab tabTitle="Booking History">
                    <div class="row">
                        <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
                        </div>
                </nb-tab>
            
            </nb-tabset>
        </nb-card>
       
    </nb-tab>
    <nb-tab tabTitle="Customer List" (clkick)="ngOnInit()">
        <div class="row">
            <ng2-smart-table [settings]="setting" [source]="source"></ng2-smart-table>
            </div>
    </nb-tab>
   
</nb-tabset>



</nb-card>

