{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="alert alert-primary">
    <a href="{% url 'store_create' %}" class="btn btn-outline-primary btn-sm">Add New </a>
</div>
<section class="testimonial py-5" id="testimonial">
<div class="container shadow bg-white rounded">
    <table class="table table-hover btn-sm">
        <thead class="thead-light">
            <th></th>
            <th>Store Name</th>
            <th>Store Address</th>
            <th>City</th>
            <th>Pin Code</th>

        </thead>
        <tbody>
         {% for object in object_list %}
            <tr>
                <td><a href="{% url 'store_update' object.id %}" class="btn btn-outline-primary btn-sm">Edit</a></td>
                <td>{{ object.store_name }}</td>
                <td>{{ object.address }}</td>
                <td>{{ object.city }}</td>
                <td>{{ object.pin_code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}