<nb-tabset>
    <nb-tab tabTitle="Sales Records">
        <div id="purchaseOrderForm" >
            <nb-card accent="info">
            <nb-card-header>Product Sold Info </nb-card-header>     
            <nb-card-body>
            
            
        </nb-card-body>
        </nb-card>
        <nb-card accent="info">
            <nb-card-header>Service Booked Info </nb-card-header>     
            <nb-card-body>
            
            
        </nb-card-body>
        </nb-card>

        <nb-card accent="info">
            <nb-card-header>Invoice Details</nb-card-header>     
            <nb-card-body>
            
            
        </nb-card-body>
        </nb-card>


        <nb-card accent="info">
            <nb-card-header>Appointment Info </nb-card-header>     
            <nb-card-body>
            
            
        </nb-card-body>
        </nb-card>


        </div>
    </nb-tab>
</nb-tabset>
