<div class="container-fluid justify-content-center">

    <div>
        <div id="order">
            <h2>Wishlist</h2>
        </div>


        <!-- <div id="accordion" aria-multiselectable="true">
            <div class="row" *ngFor="let product of wishlist; let i = index">
                <div class="col mt-4">
                    <div class="card card-2" >
                        <div class="card-body">
                            <div class="media" [id]="'heading'+i">
                                <div class="sq align-self-center "> <img (click)="Goto(product.product__product_code)" class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{BaseUrl+product.image}}" width="80" height="80" /><br>
                                
                                
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row block">
                                        <div class="col my-auto">
                                            <h3 class="mb-0" style="text-align: center;"> {{product.product__product_name}}
                                               
                                            </h3>   
                                            <h3 class="mb-0 " >{{product.product__description}}</h3> </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-danger btn-xs" (click)="RemoveFromWishlist(product)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>


        </div> -->

        <div class="card-body">
            <!-- PRODUCT -->
            <div class="row" *ngFor="let product of wishlist; let i = index">
               <hr>
                <div class="col-12 col-sm-12 col-md-2 text-center">
                    <img (click)="Goto(product.product__product_code)" class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{BaseUrl+product.image}}" width="80" height="80" />
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name"><strong>{{product.product__product_name}}</strong></h4>
                    <h4 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
                        <small>{{product.product__description}}</small><br>
                        
                    </h4>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-3 text-md-right row">
                    
                    
                    <!-- <div class="col-2 col-sm-2 col-md-2 text-right">
                       <h5><strong> {{cartItem.sub_total| currency:'INR'}}</strong></h5>
                      
                    </div> -->
                    <div class="col-2 col-sm-2 col-md-2 text-right float-right">
                        <button type="button" class="btn btn-outline-danger btn-xs" (click)="RemoveFromWishlist(product)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <hr/>
            </div><br><br>
        </div> 

    </div>
</div>
