<html>
<head>
   
     
</head>
<body >
    
<nb-card accent="info" id="print-section" >
    
    <nb-card-header class="text-center">Invoice </nb-card-header>
    <nb-card-body>
        <form action="">
            <div class="form-row">
                <div class="col-md-2">
                    <img src="../assets/images/D5N_Logo.jpg"  width="120px" height="120px" alt="">
                    
                </div>
                <div class="col-md-4">
                    <p class="text-capitalize"> store Id:{{store_name}}</p>
                    
                </div>
                <div class="col-md-4">
                    <p> Invoice No:{{invoice_no}}</p>
                    <p>Billing Date:{{invoice_date}}</p>
                </div>
                <!-- <div class="col-md-4">
                    <p> GstIN:oD231212232</p>
                    <p>PAN:21/2/2019</p>
                </div> -->
                
            </div>
            <hr>
            <!--  <div id="bill"> -->
                <div class="form-row" >
                    <!-- <span style="text-align: center;"><h1>Invoice</h1></span> -->
                    <div class="col-md-4">
                        Customer Name <br>
                        <h6>{{customer_name}}</h6>
                    

                    </div>
                    <div class="col-md-4">
                    Customer Billing Address <br>
                    <h6>{{customer_addr}}</h6>
                    </div>
                    <div class="col-md-4">
                    
                    </div>
                
                    
                </div>
                <hr>
            
                <table style="text-align: center;" class="table table-responsive">
                    <thead>
                        <th>Product</th>
                        
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Disc Amount</th>
                        <th>GST%</th>
                        
                    
                    </thead>
                    
                    <tbody  >
                        <tr *ngFor = "let item of invoice_details.order_details">
                            <td *ngIf="item.service__service_name">{{item.service__service_name}}</td>
                            <td *ngIf="item.product__product_name">{{item.product__product_name}}</td>
                            
                            <td>{{item.qty}}</td>
                            <td>{{item.unit_price}}</td>
                            <td>{{item.subtotal_amount}}</td>
                            <td>{{invoice_details.discount_price}}</td>
                            <td>{{item.gst}}</td>
                            <td></td>
                            
                        </tr>
                        <tr >
                            
                            <td colspan="6"></td>
                            <td colspan="2"><h6>{{grandTotal}}</h6> 
                                All Values are in INR

                            </td>
                        </tr>
                    
                    </tbody>
                
                </table>
            <!-- </div> -->
            <hr>
            <div class="form-row">
                <div class="col-md-4 text-center">
                    <p>Condition apply please refer to product page</p>

                </div>
                <div class="col-md-4 text-center">
                    <p>Order Throught</p> 
                </div>
                <div class="col-md-4">
                    <div class="d-flex-1 text-center">
                        <p>For <b>D5N</b> </p><br>
                        <p>Authorised Signatory</p>
                    </div>
                    
                </div>
                
                
            </div>
            

        </form>
        
    </nb-card-body>
   
</nb-card>


</body>
<button class="btn btn-secondary" type="button" printSectionId="print-section" ngxPrint >Print Bill</button>
</html>