



      <div class="d-flex justify-content-center">Billing Invoice</div>


      <div id="bill">
         <div class="container-fluid">
            <div class="card border border-dark">
               <div class="card-header border-bottom ">

                  <!--             <div class="row">
                                             
                                 <div class="col-md-12" style="text-align: left;">
                                    &nbsp; <img src="/assets/images/LOGO.png"  width="60px" height="60px" alt="">
                                    <b>
                                       <span style="text-align: center;">
                                          <h6>{{store_name}}</h6>
                                          <p>{{address}}</p>
                                       </span>
                                    </b>          
                                 </div>
                                 <div style="text-align:center;">
                                     
                                 </div>
                              </div> -->
                  <div class="d-flex justify-content-between">
                     <div class="d-flex-1">
                        &nbsp; <img src="/assets/images/D5N_Logo.jpg" style="height:56px">
                     </div>
                     <div class="d-flex-1 text-center">
                        <h2 class="text-uppercase"><i>{{store_name}}</i></h2>
                        <p class="text-uppercase"><b>{{address}}-{{pincode}} </b></p>
                        

                     </div>
                     <div class="d-flex-1 "></div>
                  </div>


                  <div class="row" style="text-align: left;">
                     <div class="col-sm-1">

                     </div>
                     <div class="col-sm-4">
                        <div class="row">
                           <div class="col-sm-4 text-uppercase"><b>gstin</b></div>
                           <div class="col-sm-8 text-uppercase "><b>: {{gst}}</b></div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4 text-capitalize"><b>State</b></div>
                           <div class="col-sm-8 text-capitalize "><b>: Karnataka</b> </div>
                        </div>
                        <!-- <div class="row">
                                       <div class="col-sm-4 text-capitalize"><b>pan no</b></div>
                                       <div class="col-sm-8 text-capitalize "><b>:</b> AAECS0037J</div>
                                    </div> -->
                     </div>
                     <div class="col-sm-1">

                     </div>
                     <div class="col-sm-6">
                        <div class="row">
                           <div class="col-sm-4 text-capitalize"><b>Email id</b></div>
                           <div class="col-sm-8  "><b>: {{email}} </b></div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4 text-capitalize"><b>TEL</b></div>
                           <div class="col-sm-8 text-capitalize "><b>: {{phone}} </b></div>
                        </div>

                        <!--   <div class="d-flex flex-nowrap">
                                       <div class="p-2 bd-highlight text-capitalize"><b>email id</b></div>
                                       <div class="p-2 bd-highlight"><b>:</b> shashi@gmail.in</div>
                                    </div>
                                    <div class="d-flex flex-nowrap">
                                       <div class="p-2 bd-highlight text-capitalize"><b>phone no</b></div>
                                       <div class="p-2 bd-highlight "><b>:</b> 080-23324566</div>
                                    </div> -->
                     </div>

                  </div>

               </div>

               <div class="card-body border-top " style="text-align: left;">
                  <div class="row border-bottom ">
                     <div class="col-sm-6 border-right  ">
                        <h6 class="text-center"><b>Customer details</b> </h6>
                        <div class="row mt-2">
                           <div class="col-sm-4 text-capitalize"><b>Name</b></div>
                           <div class="col-sm-4 text-uppercase"><b>: {{customer_name}}</b></div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4 text-capitalize"><b>Address</b></div>
                           <div class="col-sm-4 text-capitalize ">
                              <div class="d-flex flex-nowrap">
                                 <b>: {{customer_addr}} </b>
                              </div>
                           </div>
                        </div>
                        <br />
                        <!-- <div class="row">
                                       <div class="col-sm-4 text-capitalize"><b>State</b></div>
                                       <div class="col-sm-4 text-capitalize"><b>:</b> </div>
                                       <div class="col-sm-2 text-capitalize"><b>code</b></div>
                                       <div class="col-sm-2 text-capitalize"><b>:</b>  </div>
                                   </div> -->
                        <div class="row " style="text-align: left;">
                           <div class="col-sm-4 text-capitalize"><b>phone no</b></div>
                           <div class="col-sm-4 text-capitalize"><b>:{{customer_number}}</b> </div>
                        </div>
                        <!-- <div class="row mt-2">
                                       <div class="col-sm-4 text-uppercase"><b>gstin</b></div>
                                       <div class="col-sm-8 text-capitalize"><b>:</b>  </div>
                                    </div> -->
                     </div>

                     <div class="col-sm-6 ">
                        <!--  <div class="row justify-content-end">
                                       <div class="col-sm-2  text-capitalize"><b>Date</b></div>
                                       <div class="col-sm-4"><b>: </b> </div>
                                    </div> -->
                        <div class="row mt-2">
                           <div class="col-sm-4  text-capitalize"><b>Invoice no</b></div>
                           <div class="col-sm-4 text-capitalize"><b>:{{invoice_no}}</b> </div>
                        </div>
                        <div class="row mt-2">
                           <div class="col-sm-4 text-capitalize"><b>Billing date</b></div>
                           <div class="col-sm-4 text-capitalize"><b>:{{invoice_date}}</b> </div>
                        </div>

                        <!--  <div class="row mt-2">
                                       <div class="col-sm-4 text-capitalize"><b>dispatch doc no</b></div>
                                       <div class="col-sm-2 text-capitalize"><b>:</b>  </div>
                                       <div class="col-sm-2 text-capitalize"><b>date</b></div>
                                       <div class="col-sm-4 text-capitalize"><b>:</b> </div>
                                    </div> -->

                     </div>
                  </div>

                  <!-- <div class="row border-bottom mt-2">
                                 <div class="col-sm-6 border-right ">
                                    <h6 class="mt-2 text-center"><b>Shipping details</b> </h6>
                                    <div class="row mt-2">
                                       <div class="col-sm-4 text-capitalize"><b>Name</b></div>
                                       <div class="col-sm-8 text-uppercase"><b>: {{vendor_contact_name}}</b></div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-4 text-capitalize"><b>Address</b></div>
                                       <div class="col-sm-8 text-capitalize ">
                                           <div class="d-flex flex-nowrap">
                                              <b>: {{shipping_address}}</b>
                                           </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                       <div class="col-sm-4 text-capitalize"><b>State</b></div>
                                       <div class="col-sm-4 text-capitalize"><b>:</b> {{state}}</div>
                                       <div class="col-sm-2 text-capitalize"><b>code</b></div>
                                       <div class="col-sm-2 text-capitalize"><b>:</b> {{state_code}} </div>
                                    </div>
                                    <div class="row ">
                                       <div class="col-sm-4 text-capitalize"><b>phone no</b></div>
                                       <div class="col-sm-8 text-capitalize"><b>:</b> {{vendor_number}} </div>
                                    </div>
                                    <div class="row mt-2">
                                       <div class="col-sm-4 text-uppercase"><b>gstin</b></div>
                                       <div class="col-sm-8 text-capitalize"><b>:</b> {{gst_no}} </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 ">
                                    <div class="row mt-2">
                                       <div class="col-sm-4 text-capitalize"><b>Type of payment</b></div>
                                       <div class="col-sm-8 text-uppercase "><b>:</b>{{payment}}</div>
                                    </div> <br />
                                    <div class="row">
                                       <div class="col-sm-4 text-capitalize"><b>Shipping Method</b></div>
                                       <div class="col-sm-8 text-uppercase "><b>:</b> {{shipping_method}} </div>
                                    </div> 
                                    <br />
                                  
                                    
                                 </div>
                              </div>   -->

                  <div class="">
                     <table class="table table-sm table-bordered border-primary text-nowrap">
                        <thead>
                           <tr>
                              <!-- <th><button nbButton size="tiny" (click)="add_items()" status="success">Add</button></th> -->
                              <th>Product</th>

                              <th>Qty</th>
                              <th>Price</th>
                              <th>GST%</th>
                              <!-- <th>Disc Amount</th> -->
                              <th>Total</th>


                           </tr>

                        </thead>
                        <tbody>
                           <tr *ngFor="let item of invoice_details.order_details">
                              <!-- <td></td> -->
                              <!-- <td *ngIf="item.service__service_name">{{item.service__service_name}}</td>
                              <td *ngIf="item.product__product_name">{{item.product__product_name}}</td> -->
                              <td>{{item.product_name}}</td>

                              <td>{{item.qty}}</td>
                              <td>{{item.unit_price}}</td>
                              <td>{{item.gst}}</td>
                              <!-- <td>{{invoice_details.discount_price}}</td> -->

                              <td>{{item.subtotal_amount}}</td>


                              <td></td>

                           </tr>
                           <tr *ngFor="let item of invoice_items; let  i = index">
                              <td><button nbButton (click)="remove_item(item);" status="danger" size="small">X</button>
                              </td>

                              <td>
                                 <input [(ngModel)]="item.item_description" />&nbsp;
                              </td>
                              <td>
                                 <input style="width: 5em;" [(ngModel)]="item.qty" (change)="calculate_price()" />&nbsp;
                              </td>
                              <td>
                                 <input style="width: 5em;" [(ngModel)]="item.unit_price"
                                    (change)="calculate_price()" />&nbsp;
                              </td>
                              <td>
                                 <input style="width: 5em;" [(ngModel)]="item.gst" (change)="calculate_price()" />&nbsp;
                              </td>
                              <td>
                                 <input style="width: 5em;" [(ngModel)]="item.discount_price"
                                    (change)="calculate_price()" />&nbsp;
                              </td>
                              <td>
                                 <input style="width: 5em;" [(ngModel)]="item.subtotal_amount" />&nbsp;
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

                  <div class="row">

                     <!-- <div class="col-lg-4 col-sm-5">
                                    <table class="table ">
                                       <tbody>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">CGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{cgst}} </strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">SGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{sgst}}</strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">IGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{igst}}</strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">packing gst</strong> 
                                             </td>
                                             <td class="right">
                                                <strong class="text-dark">{{packing_gst}}% </strong>
                                             </td>
                                          </tr> 
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">packing amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{packing_price}} </strong>
                                             </td>
                                          </tr> 
                                       </tbody>
                                    </table>
                                 </div> -->
                     <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table ">
                           <tbody>
                              <!--  <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">total basic value </strong>
                                             </td>
                                             <td class="right ">
                                                <strong class="text-dark">{{total_price}} </strong>
                                             </td>
                                          </tr>
                                          <tr>
                                                <td class="left">
                                                   <strong class="text-dark text-capitalize">Discount Amount</strong>
                                                </td>
                                                <td class="right">
                                                   <strong class="text-dark">{{disc_amount}} </strong>
                                                </td>
                                          </tr> -->
                              <!--  <tr>
                                                <td class="left">
                                                   <strong class="text-dark text-capitalize">Pre tax</strong>
                                                </td>
                                                <td class="right">
                                                   <strong class="text-dark">0 </strong>
                                                </td>
                                          </tr> -->
                              <!--  <tr>
                                                <td class="left">
                                                   <strong class="text-dark text-capitalize">taxable amount</strong> </td>
                                                <td class="right">
                                                   <strong class="text-dark">{{taxable_price}} </strong>
                                                </td>
                                          </tr> -->
                              <!--  <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">post tax</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">0</strong>
                                             </td>
                                          </tr> -->
                              <!-- <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">CGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{cgst}} </strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">SGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{sgst}}</strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">IGST amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{igst}}</strong>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">packing amount</strong> </td>
                                             <td class="right">
                                                <strong class="text-dark">{{packing_price}} </strong>
                                             </td>
                                          </tr> 
                                          <tr>
                                             <td class="left">
                                                <strong class="text-dark text-capitalize">packing gst</strong> 
                                             </td>
                                             <td class="right">
                                                <strong class="text-dark">{{packing_gst}}% </strong>
                                             </td>
                                          </tr>  -->
                              <!--  <tr>
                                             <td class="left"><strong class="text-dark text-capitalize "> </strong></td>
                                             <td class="right"><strong class="text-dark"> </strong></td>
                                          </tr>
                                          <tr>
                                             <td class="left"></td>
                                             <td class="right"></td>
                                          </tr>
                                          <tr class="h-5">
                                             <td class="left" ></td>
                                             <td class="right"></td>
                                          </tr> -->
                                 <tr>
                                 <td class="left">
                                    <strong class="text-dark text-capitalize "> Discount Amount</strong>
                                 </td>
                                 <td class="right">
                                    <strong class="text-dark">{{invoice_details.discount_price}} </strong>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="left">
                                    <strong class="text-dark text-capitalize ">grand total</strong>
                                 </td>
                                 <td class="right">
                                    <strong class="text-dark">{{grandTotal}} </strong>
                                 </td>
                              </tr>
                           

                           </tbody>
                        </table>
                     </div>
                  </div>

                  <div class="row border-top  ">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-md-6 text-capitalize">
                              <b>Amount in words</b>
                           </div>
                           <div class="col-md-6 text-capitalize">
                              {{grandTotal | amountToWord}}
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- <div class="card-body border-top ">
                     <div class="row border-bottom " style="text-align: left;">
                        <div class="col-sm-6   ">
                           <h6 class="text-center"><b>Bank Details</b> </h6>
                           <div class="row mt-2">
                              <div class="col-sm-4 text-capitalize"><b>Name</b></div>
                              <div class="col-sm-8 text-uppercase"><b>: GIRISHA N S</b></div>
                           </div>
                           <div class="row">
                              <div class="col-sm-4 text-capitalize"><b>A/C NO</b></div>
                              <div class="col-sm-8 text-capitalize "><b>: 7242500100423701 </b>

                              </div>
                           </div>
                           <br />
                           <div class="row">
                                          <div class="col-sm-4 text-capitalize"><b>State</b></div>
                                          <div class="col-sm-4 text-capitalize"><b>:</b> </div>
                                          <div class="col-sm-2 text-capitalize"><b>code</b></div>
                                          <div class="col-sm-2 text-capitalize"><b>:</b>  </div>
                                        </div> -->
                           <!-- <div class="row ">
                              <div class="col-sm-4 text-capitalize"><b>IFSC CODE</b></div>
                              <div class="col-sm-4 text-capitalize"><b>: KARB0000724</b> </div>
                           </div> -->
                           <!-- <div class="row mt-2">
                                          <div class="col-sm-4 text-uppercase"><b>gstin</b></div>
                                          <div class="col-sm-8 text-capitalize"><b>:</b>  </div>
                                       </div> -->
                        <!-- </div>

                        <div class="col-sm-6 "> -->
                           <!--  <div class="row justify-content-end">
                                          <div class="col-sm-2  text-capitalize"><b>Date</b></div>
                                          <div class="col-sm-4"><b>: </b> </div>
                                       </div> -->
                           <!-- <div class="row mt-2">
                              <div class="col-sm-4  text-capitalize"><b>BANK NAME</b></div>
                              <div class="col-sm-8 text-capitalize"><b>: KARNATAKA BANK</b> </div>
                           </div>
                           <div class="row mt-2">
                              <div class="col-sm-4 text-capitalize"><b>BRANCH</b></div>
                              <div class="col-sm-8 text-capitalize"><b>: APMC </b> </div>
                           </div> -->

                           <!--  <div class="row mt-2">
                                          <div class="col-sm-4 text-capitalize"><b>dispatch doc no</b></div>
                                          <div class="col-sm-2 text-capitalize"><b>:</b>  </div>
                                          <div class="col-sm-2 text-capitalize"><b>date</b></div>
                                          <div class="col-sm-4 text-capitalize"><b>:</b> </div>
                                       </div> -->

                        <!-- </div>
                     </div>


                     <div class="row border-top  ">
                        <div class="col-md-6" style="text-align: left;">
                           <b>
                              <h6></h6>
                           </b> -->

                           <!--    <div class="row mt-2">
                                       <div class="col-md-1">
                                          1.
                                       </div>
                                       <div class="col-md-11">
                                          All the dispute will be Subject to Bangalore Jurisdiction.
                                       </div>
                                       </div>
                                       <div class="row">
                                       <div class="col-md-1">
                                          2.
                                       </div>
                                       <div class="col-md-11">
                                          In all claims the company decision is final and binding.
                                       </div>
                                       </div>
                                       <div class="row ">
                                       <div class="col-md-1">
                                          3. 
                                       </div>
                                       <div class="col-md-11">
                                         In case if the payment are not made within due date 24% Interest will be charged p. a.
                                       </div>
                                       </div>
                                       <div class="row mt-2">
                                       <div class="col-md-1">
                                          4. 
                                       </div>
                                       <div class="col-md-11">
                                         The Warranty commence from the date of Invoice .
                                       </div>
                                       </div>
                                       -->
                        <!-- </div>

                     </div>
                  </div> --> 



                  <div class="card-footer bg-white mb-5">
                     <div class="row ">
                        <div class="col-6 border-right  ">
                           <div class="d-flex-1 text-left p-0">
                              <p> <b> Prepared By </b> <b class="text-capitalize"></b> </p>
                              <p class="mt-5">Authorised Signatory</p>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="d-flex-1 text-center p-0">
                              <p>For <b class="text-uppercase">D5N.</b> </p>
                              <p class="mt-5">Authorised Signatory</p>
                           </div>
                           <!--  <div class="d-flex justify-content-center">
                                      
                                    </div> -->

                        </div>
                     </div>
                  </div>

               </div>
               <div class="d-flex justify-content-center">
                  <p><span>*</span> This is a computer generated bill and does not requires signature</p>
               </div>
               <div class="d-flex justify-content-start">
                  <p>Powered by Sanadi Technologies-ERP</p>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <button class="btn btn-secondary justify-content-center" type="button" id="print">
            Print
         </button>
         <!-- <button printSectionId="demo" ngxPrint>print</button> -->
      </div>


      <!-- <div class="container">
                      <button class="btn btn-secondary justify-content-center" type="button" id="print">
                          Print Bill
                      </button>
                  </div> -->