<div>
    <mat-card style="margin-top: 3em;">
        <mat-card-title>
           
            
                <div *ngIf="cartItems.length > 0">
                <i *ngIf="cartItems.length > 0" class="fa fa-shopping-cart"  aria-hidden="true" style="color: rgb(78, 78, 78);">My Cart ({{cartItems.length}})</i> 
                <a *ngIf="cartItems.length > 0" mat-raised-button color="primary" fxHide.lt-md="true" class="btn  btn-sm pull-right" href="#" roterLink="Home" ><i
                  class="icon-arrow-left"></i>&nbsp;Continue Shopping</a>
                </div>
                      
        </mat-card-title>
        <mat-card-content style="margin-bottom:2px">
             <div *ngIf="cartItems.length > 0">
            <mat-card  class="example-card" *ngFor="let cartItem of cartItems; let i = index" [attr.data-index]="i" style="margin-top: 1px;">
                <mat-card-header>
                  <div mat-card-avatar style="padding-right: 2.5em;" >
                    <a href="/productview?data={{cartItem.product__product_code}}">
                    <img mat-card-image  [src]="BaseUrl + '/' +cartItem.image" alt="prewiew" width="100"
                    height="100">
                    </a>
                  </div>
                   
                  <mat-card-title>{{cartItem.product__product_name}}</mat-card-title>
                  <mat-card-subtitle><small class="overflowText">{{cartItem.product__description}}</small></mat-card-subtitle>
                  <mat-card-subtitle>Pack Type : {{cartItem.pack_unit__unit__PrimaryUnit}}</mat-card-subtitle>
                  <mat-card-subtitle>Price :{{cartItem.pack_unit__sell_price | currency:'INR'}}</mat-card-subtitle>
                  <div class="row">
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="quantity">
                            <input type="button" value="+" class="plus" (click)="inc(cartItem)">
                            <input type="number" step="1" max="99" min="1" value="1" [(ngModel)]="cartItem.qty" title="Qty" class="qty"
                                   size="4">
                            <input type="button" value="-" class="minus" (click)="dec(cartItem)">
                        </div>
                    </div>
                    
                    </div>
                </mat-card-header>
                
                <mat-card-content>
                    
                  
                </mat-card-content>
                <mat-card-actions>
                  <span>Sub Total : {{cartItem.sub_total| currency:'INR'}}</span>
                  <button mat-button style="color: rgb(243, 88, 88);"  (click)="handleRemoveFromCart(cartItem)"> <span class="material-icons">delete</span>REMOVE</button>
                 
                </mat-card-actions>
              </mat-card>
            </div>
            <div *ngIf="cartItems.length === 0" style="align-items: center;justify-content: center;text-align: center;">
                <img    src="/assets/img/cart_empty.png" alt="prewiew" width="200"
                    height="200">
                    <a class="btn btn-outline-secondary btn-sm" href="#" roterLink="Home"><i class="icon-arrow-left"></i>&nbsp;Back
                        to Shopping</a>
            </div>
            <!-- <div class="items-bottom" fxLayout="row wrap" fxLayoutGap="grid" *ngFor="let cartItem of cartItems; let i = index" [attr.data-index]="i">
                 
                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="20%" class="img-center">
                    <a href="/productview?data={{cartItem.product__product_code}}">
                    <img class="img-responsive" [src]="BaseUrl + '/' +cartItem.image" alt="prewiew" width="120"
                        height="80">
                    <button type="button" class="btn btn-xs mob-view" style="color: red;"
                        (click)="handleRemoveFromCart(cartItem)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    </a>
                </div>
                <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" class="text-sm-center text-md-left">
                    <h4 class="product-name"><strong>{{cartItem.product__product_name}}</strong></h4>
                    <h4>
                        <small class="overflowText">{{cartItem.product__description}}</small>
                        <small>Pack Type : {{cartItem.pack_unit__unit__PrimaryUnit}}</small>
                    </h4>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <div fxLayout="row wrap" fxLayoutGap="grid">
                        <div fxFlex="30%" fxFlex.xs="30%" fxFlex.sm="30%" class="text-md-right" style="padding-top: 2%">
                            <h3>{{cartItem.pack_unit__sell_price | currency:'INR'}}<span class="text-muted"> X &nbsp;
                                    </span></h3>
                        </div>
                        <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%" style="display: flex;">
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus" (click)="inc(cartItem)">
                                    <input type="number" step="1" max="99" min="1" value="1" [(ngModel)]="cartItem.qty" title="Qty" class="qty"
                                           size="4">
                                    <input type="button" value="-" class="minus" (click)="dec(cartItem)">
                                </div>
                            </div>
                            
                        </div>
                        <div style="padding-top: 4%">
                            <h4>Sub Total : {{cartItem.sub_total| currency:'INR'}}</h4>
                        </div>
                        <div fxFlex="20%" fxFlex.xs="20%" fxFlex.sm="20%" class="text-right desktop-view">
                            <button type="button" class="btn btn-xs desktop-view" style="color: red;"
                                (click)="handleRemoveFromCart(cartItem)">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>

        

            <hr> -->
           
        </mat-card-content>
        <mat-card-footer *ngIf="cartItems.length > 0">
       
            <div class="pull-right" style="margin: 10px">
                <a href="/checkout" class="pull-right" mat-raised-button color="primary"
                    *ngIf="cartItems.length > 0">Checkout</a>
                <div class="pull-right" style="margin: 5px">
                    Total price: <b>{{ cartTotal | currency:'INR'}}</b>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
