<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div >
    <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty &nbsp;<a class="btn btn-outline-secondary btn-sm" href="#" roterLink="Home"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div> 
    <div class="checkout">
        <a class="btn btn-outline-info btn-sm float-right" href="/checkout" *ngIf="cartItems.length > 0"> Checkout</a>
    </div>
    <div></div><a *ngIf="cartItems.length > 0" class="btn btn-outline-info btn-sm" href="#" roterLink="Home"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a>
</div><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">Product Image</div>
        <div class="col-md">ProductName</div>
        <div class="col-md">Pack Type</div>
        <div class="col-md"> Quantity</div>
        <div class="col-md">Unit Price</div>
        <div class="col-md">Total</div>
        <div class="col-md">Delete</div>
    </div>

</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
    <li class="list-group-item" *ngFor="let cartItem of cartItems">
        <!-- <app-cart-item [cartItem]=item></app-cart-item> -->
        <div class="container-fluid">
            <div *ngIf="!removeFromCart" class="row">
                <div class="col-md "><img [src]="BaseUrl + '/' +cartItem.image" height="40px" width="40px" alt="img"><br>{{cartItem.product__description}}</div>
                <div class="col-md ">{{cartItem.product__product_name}}</div>
                <div class="col-md ">{{cartItem.pack_unit__qty}} &nbsp; {{cartItem.pack_unit__unit__PrimaryUnit}} </div>
                <div class="col-md "><div class=""><button class="btn btn-outline-primary btn-sm" (click)="inc(cartItem)" ><i class="fa fa-plus" ></i></button>&nbsp;{{cartItem.qty}}&nbsp;<button class="btn btn-outline-primary btn-sm" (click)="dec(cartItem)" ><i class="fa fa-minus" ></i></button></div></div>
                <div class="col-md "><div class="pl-2">{{cartItem.pack_unit__sell_price}}</div></div>
                <div class="col-md ">{{cartItem.sub_total| currency:'INR'}}</div>
                <div class="col-md  remove-from-cart  " href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><div class="pl-4"><button (click)="handleRemoveFromCart(cartItem)"><i class="fa fa-trash"></i></button></div></div>
            </div>

        </div>
       
    </li>
    <!-- <li class="list-group-item active">
    <strong>Total:</strong>{{ cartTotal | currency:'INR'}}
    </li> -->

</ul>
<div>
    <div class="container ">
        <div class="column text-lg bg-light  float-right ">Subtotal: <span class="text-medium">{{ cartTotal | currency:'INR'}}</span></div>
    </div>
    <!-- <div>
        <a class="btn btn-success float-right" href="/checkout" *ngIf="cartItems.length > 0">Checkout</a>
    </div> -->
</div>