.quantity {
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 100px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 25px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.mob-view {
    display: none;
}

.quantity .minus,
.quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover,
.quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}

.shopping-cart {
    margin-top: 20px;
}

.container {
    margin: auto;
    position: absolute;
    padding-right: 85px;
    padding-top: 10px;
}

.img-center {
    text-align: center !important;
}

.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
    .desktop-view {
        display: none;
    }
    .mob-view {
        float: right;
        display: block;
    }
    .img-center {
        text-align: left !important;
    }
    .items-bottom {
        border-bottom: 1px solid #dee2e6;
        padding-top: 30px;
        padding-bottom: 15px;
    }
}

//   .qty{
//       padding-left: ;
//   }