<div class="container">
    <h2 style="text-align:center">
        Site Setting
    </h2>
    <br>
    <div>
        <input name="vendorName" class="form-control" placeholder="Setting Type" [(ngModel)]="setting_type" />
    </div>
    <br><br>
    <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" formControlName="editorContent"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="setting_value"></ngx-editor>
    </div>
    <br>
    <div>
        <button class="btn btn-info" (click)="AddSiteSettings()">Add</button>
    </div>
</div>