<nb-tabset>
    <nb-tab tabTitle="Book Appointment">
        <form id="BookingForm" [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="customerName">Customer Name <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="customerName" formControlName="customerNameFormControl"
                    (keypress)="open_customer_list(dialog)" (click)="open_customer_list(dialog)" readonly
                    [ngClass]="{ 'is-invalid': submitted && f.customerNameFormControl.errors  }" class="form-control" />
                    <div *ngIf="submitted && f.customerNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.customerNameFormControl.errors.required"> Customer Name is Required</div>
                        
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="creatcustomer">Create New Customer </label>
                    <button nbButton status="default" [routerLink]="['/ManageCustomer']">Create Customer</button>
                </div>
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone Number <span style="color: red;">*</span> </label>
                    <input nbInput type="text" name="phoneNumber" formControlName="phoneNumberFormControl" (keypress)="keyPress($event)"
                     (click)="open_phone_list(phone_dialog)"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNumberFormControl.errors  }" class="form-control" readonly/>
                    <!-- <div *ngIf="submitted && f.phoneNumberFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.phoneNumberFormControl.errors.required"> Phone Number is Required</div>
                        <div *ngIf="submitted &&  f.phoneNumberFormControl.errors?.pattern ">Phone number must be at least 10 numbers </div>
                    </div> -->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="bookingDate">Booking Date <span style="color: red;">*</span> </label>
                    <input nbInput name="bookingDate"  [nbDatepicker]="booking_date"  formControlName="bookingDateFormControl"
                    [ngClass]="{ 'is-invalid': submitted && f.bookingDateFormControl.errors  }"
                     class="form-control"  />
                    <div *ngIf="submitted && f.bookingDateFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.bookingDateFormControl.errors.required"> Booking Date is Required</div>
                    </div>
                    <nb-datepicker #booking_date format="yyyy-MM-DD" (change)='onChange();'></nb-datepicker>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="startTime">Start Time <span style="color: red;">*</span></label>
                    <input type="time" nbInput name="startTime" formControlName="startTimeFormControl" 
                    [ngClass]="{ 'is-invalid': submitted && f.startTimeFormControl.errors  }" class="form-control"/>
                    <div *ngIf="submitted && f.startTimeFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.startTimeFormControl.errors.required"> Start Time is Required</div>
                       
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="endTime">End Time <span style="color: red;">*</span></label>
                    <input type="time" nbInput name="endTime" formControlName="endTimeFormControl" 
                    [ngClass]="{ 'is-invalid': submitted && f.endTimeFormControl.errors  }" class="form-control"/>
                    <div *ngIf="submitted && f.endTimeFormControl.errors" class="invalid-feedback" (change)="dateCheck()">
                        <div *ngIf="submitted && f.endTimeFormControl.errors.required"> End Time is Required</div>
                        
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label >Service <span style="color: red;">*</span></label>
                    <nb-select style="width: 20em;" name="services" [(ngModel)]="service" formControlName="serviceFormControl" [(selected)]="selected_service" multiple >
                        <nb-option *ngFor="let o of service_list" value="{{o.id}}" >
                            {{ o.service_name }}-{{o.price}}-{{o.service_gst}}%Gst-{{o.service_hour}}HourService
                        </nb-option>
                    </nb-select>
                </div>
            </div> <br>
            <!-- <nb-card accent="info">
                <nb-card-header>Add Service</nb-card-header>
                <nb-card-body>
                    <button nbButton (click)="open(dialog);" status="success" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">Add </button> <span style="color: red;">*</span>&nbsp;&nbsp;
                    
                    <table class="table table-responsive">
                        <thead>
                            <th></th>
                            <th>Service Name</th> -->
                            <!-- <th>Product Name</th>
                            <!-- <th>Description</th> -->
                            <!-- <th>Store</th>
                            <th>Required Qty</th>
                            <th>Unit</th>
                            
                            <th>Required Date</th> -->
                        <!-- </thead>
                        <tbody>
                            <tr  [class.hidden]="!item.active">
                                <td *ngIf="!delete"><button nbButton (click)="remove_item(item);" status="danger" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">X</button><br></td>
                                <td *ngIf="delete" ><button nbButton (click)="delete(item);" status="danger" size="small" *ngIf="pr_status!='APPROVED' && pr_status!='REJECTED'">X</button><br></td>
                                <td><input class="form-control form-control-sm"  style="width: 10em;"  placeholder="" readonly value={{item.product_code}}/></td> -->
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="" readonly value={{item.product_name}}/></td>
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="description" [(ngModel)]="item.description"/></td> -->
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" placeholder="store name" readonly [(ngModel)]="item.store"/></td>
                                <td><input class="form-control form-control-sm" style="width: 10em;" type="number" min="0"  placeholder="Quantity" [(ngModel)]="item.required_qty" oninput="validity.valid || (value='')" /></td>
                             <td><input class="form-control form-control-sm" style="width: 10em;" name="item.unit_name"   placeholder="Unit " [(ngModel)]="item.unit_name"  />  </td> -->
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" name="item.unit_price"   placeholder="Unit Price " [(ngModel)]="item.unit_price"  /> -->
                                  <!-- <td>  <nb-select size="small" name="item.unit" [(selected)]="item.unit"> 
                                    <nb-option  *ngFor="let o of unit_list" value="{{o.id}}">
                                        {{ o.PrimaryUnit }}
                                    </nb-option>
                                </nb-select> -->
                            <!-- </td> -->
                                <!-- <td><input class="form-control form-control-sm" style="width: 10em;" [(ngModel)]="item.expected_date" [nbDatepicker]="datepicker"
                                    placeholder="Date" /> -->
                                    <!-- <input [nbDatepicker]="datepicker"> -->
                                    <!-- <nb-datepicker format="yyyy-MM-DD" #datepicker></nb-datepicker> --> -->
                                    <!-- <input nbInput  value={{item.expected_date}} /></td> -->
<!--                                
                            </tr>
                        </tbody>
                    </table>
                </nb-card-body> -->
                
            <!-- </nb-card> -->
            <div class="form-row">
                <div class="form-group col-md-2">
                 <button nbButton status="success"  size="small" (click)="saveBooking();">Save</button>
                </div>

            </div>
            
        </form>
    </nb-tab>
</nb-tabset>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Customer name <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchCategory" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data |search_filter:'customer_name':searchCategory ">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.customer_name }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>


<ng-template #phone_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Customer Phone Number <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchPhoneNo" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data |search_filter:'phone_number':searchPhoneNo">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.phone_number }}-{{item.customer_code }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
            <nb-list>
                <nb-list-item *ngFor="let item of data | search_filter:'customer_code':searchPhoneNo ">
                    <i  class="mr-auto mt-2 mt-lg-0"> {{item.phone_number }}-{{item.customer_code }}</i>
                    <button  nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

