<nb-tabset>
    <nb-tab tabTitle="Book Appointment">
        <form id="BookingForm" [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="customerName">Customer Name <span style="color: red;">*</span> </label>
                    <input type="text" nbInput name="customerName" formControlName="customerNameFormControl"
                    (keypress)="open_customer_list(dialog)" (click)="open_customer_list(dialog)" readonly
                    [ngClass]="{ 'is-invalid': submitted && f.customerNameFormControl.errors  }" class="form-control" />
                    <div *ngIf="submitted && f.customerNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.customerNameFormControl.errors.required"> Customer Name is Required</div>
                        
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="creatcustomer">Create New Customer </label>
                    <button nbButton status="default" [routerLink]="['/ManageCustomer']">Create Customer</button>
                </div>
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone Number <span style="color: red;">*</span> </label>
                    <input nbInput type="text" name="phoneNumber" formControlName="phoneNumberFormControl" (keypress)="keyPress($event)"
                     (click)="open_phone_list(phone_dialog)"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNumberFormControl.errors  }" class="form-control" readonly/>
                    <!-- <div *ngIf="submitted && f.phoneNumberFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.phoneNumberFormControl.errors.required"> Phone Number is Required</div>
                        <div *ngIf="submitted &&  f.phoneNumberFormControl.errors?.pattern ">Phone number must be at least 10 numbers </div>
                    </div> -->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="bookingDate">Booking Date <span style="color: red;">*</span> </label>
                    <input nbInput name="bookingDate"  [nbDatepicker]="booking_date" formControlName="bookingDateFormControl"
                    [ngClass]="{ 'is-invalid': submitted && f.bookingDateFormControl.errors  }" class="form-control"/>
                    <div *ngIf="submitted && f.bookingDateFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.bookingDateFormControl.errors.required"> Booking Date is Required</div>
                    </div>
                    <nb-datepicker #booking_date format="yyyy-MM-DD"></nb-datepicker>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="startTime">Start Time <span style="color: red;">*</span></label>
                    <input type="time" nbInput name="startTime" formControlName="startTimeFormControl" 
                    [ngClass]="{ 'is-invalid': submitted && f.startTimeFormControl.errors  }" class="form-control"/>
                    <div *ngIf="submitted && f.startTimeFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.startTimeFormControl.errors.required"> Start Time is Required</div>
                       
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="endTime">End Time <span style="color: red;">*</span></label>
                    <input type="time" nbInput name="endTime" formControlName="endTimeFormControl" 
                    [ngClass]="{ 'is-invalid': submitted && f.endTimeFormControl.errors  }" class="form-control"/>
                    <div *ngIf="submitted && f.endTimeFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.endTimeFormControl.errors.required"> End Time is Required</div>
                        
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label >Service <span style="color: red;">*</span></label>
                    <nb-select style="width: 20em;" name="services" [(ngModel)]="service" formControlName="serviceFormControl" [(selected)]="selected_service" >
                        <nb-option *ngFor="let o of service_list" value="{{o.id}}" >
                            {{ o.service_name }}-{{o.price}}-{{o.service_gst}}%Gst-{{o.service_hour}}HourService
                        </nb-option>
                    </nb-select>
                </div>
            </div> <br>
            <div class="form-row">
                <div class="form-group col-md-2">
                 <button nbButton status="success"  size="small" (click)="saveBooking();">Save</button>
                </div>

            </div>
            
        </form>
    </nb-tab>
</nb-tabset>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Customer name <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchCategory" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data |search_filter:'customer_name':searchCategory ">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.customer_name }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>


<ng-template #phone_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Customer Phone Number <input type="text" nbInput size="small" placeholder="Search .."
                [(ngModel)]="searchPhoneNo" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data |search_filter:'phone_number':searchPhoneNo ">
                    <i class="mr-auto mt-2 mt-lg-0"> {{item.phone_number }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

