

<div class="row">
    <a nbButton href="ManageProductMaster" status="success" size="small" >Back to Product List </a>
</div>  <br>
<nb-tabset>
    <nb-tab tabTitle="Product Information" [active]="IsProductInfo">


        <form id="" [formGroup]="productMasterFrom" (ngSubmit)="onSubmits()">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="categoryName">Category Name <span style="color: red;">*</span></label>
                    <input nbInput formControlName="categoryNameFormControl" name="categoryName"
                        placeholder="Category Name" (keypress)="cat_open(dialog)" (click)="cat_open(dialog)" readonly 
                        [ngClass]="{ 'is-invalid': submitted && f.categoryNameFormControl.errors }" class="form-control"/>
                        <div *ngIf="submitted && f.categoryNameFormControl.errors" class="invalid-feedback">
                            <div *ngIf="f.categoryNameFormControl.errors.required"> Category Name is required</div>
                        </div>
                </div><br>
                <div class="form-group col-md-3">
                    <label for="subcategoryName">Sub Category <span style="color: red;">*</span></label>
                    <input nbInput formControlName="subcategoryNameFormControl" name="subcategoryName"
                        placeholder="Sub Category Name" (keypress)="sub_open(sub_cat_dialog)"
                        (click)="sub_open(sub_cat_dialog)" readonly 
                        [ngClass]="{ 'is-invalid': submitted && f.subcategoryNameFormControl.errors }" class="form-control"/>
                        <div *ngIf="submitted && f.subcategoryNameFormControl.errors" class="invalid-feedback">
                            <div *ngIf="f.subcategoryNameFormControl.errors.required">Sub Category Name is required</div>
                        </div> 
                </div><br>
                <div class="form-group col-md-3">
                    <label for="brandName">Brand Name <span style="color: red;">*</span></label>
                    <input nbInput formControlName="brandNameFormControl" name="brandName" placeholder="Brand Name"
                        (keypress)="brand_open(brand_dialog)" (click)="brand_open(brand_dialog)" readonly 
                        [ngClass]="{ 'is-invalid': submitted && f.brandNameFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.brandNameFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.brandNameFormControl.errors.required">BrandName is required</div>
            </div> 
                </div><br>

            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="productName">Product Name <span style="color: red;">*</span></label>
                    <input nbInput formControlName="productNameFormControl" name="productName"
                        placeholder="Product Name" 
                        [ngClass]="{ 'is-invalid': submitted && f.productNameFormControl.errors }" class="form-control"/>
                        <div *ngIf="submitted && f.productNameFormControl.errors" class="invalid-feedback">
                            <div *ngIf="f.productNameFormControl.errors.required">Product Name is required</div>
                        </div> 
                </div>
                <div class="form-group col-md-3">
                    <label for="productCode">Product Code <span style="color: red;">*</span></label>
                    <input nbInput formControlName="productCodeFormControl" name="productCode"
                        placeholder="Product Code" readonly 
                        />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="hsnCode">HSN Code <span style="color: red;">*</span></label>
                    <input nbInput formControlName="hsncodeFormControl" name="hsnCode" placeholder="HSN Code"
                    [ngClass]="{ 'is-invalid': submitted && f.hsncodeFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.hsncodeFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.hsncodeFormControl.errors.required">HSN Code is required</div>
                    </div> 
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="description">Description <span style="color: red;">*</span></label>
                    <input nbInput formControlName="descFormControl" type="text" name="description"
                        placeholder="Description" 
                        [ngClass]="{ 'is-invalid': submitted && f.descFormControl.errors }" class="form-control"/>
                        <div *ngIf="submitted && f.descFormControl.errors" class="invalid-feedback">
                            <div *ngIf="f.descFormControl.errors.required">Description is required</div>
                        </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-12">

                    <nb-card accent="info">
                        <nb-card-header>
                            <b><u>Product Attribute's: </u>&nbsp; </b>
                            <input nbInput type="text" name="cst_atrribute_name"
                                formControlName="atrributeNameFormControl" placeholder="Atrribute Name" #attribute [(ngModel)]="Attribute"
                                value=" " />&nbsp;
                            <button nbButton type="button" (click)="add_attribute()" status="success">Add</button>
                        </nb-card-header>
                        <nb-card-body>
                            <nb-list-item *ngFor="let atrribute of product_attributes">
                                <label for="{{atrribute.name}}" class="col-md-2">{{atrribute.name}} : </label>
                                <input nbInput type="text" name="{{atrribute.name}}" [(ngModel)]="atrribute.value" placeholder="Description"  [ngModelOptions]="{standalone: true}"
                                    value="{{atrribute.value}}" />
                                &nbsp;
                                <button nbButton size="small" status="danger"
                                    (click)="remove_attribute(atrribute)"><b>X</b></button>
                            </nb-list-item>
                        </nb-card-body>
                    </nb-card>
                    <!-- <button nbButton status="success" *ngIf="product_attributes.length > 0">Save</button>&nbsp;&nbsp; -->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <nb-card accent="info">
                        <nb-card-header>
                            <b><u>Product Packing Types: <span style="color: red;">*</span></u>&nbsp; </b>
                            <button nbButton (click)="add_types()" status="success">Add</button>
                        </nb-card-header>
                        <nb-card-body>
                            <!-- <input nbInput type="text" formControlName="productsListFormControl" (keypress)="product_open(product_dialog);"  /> -->
                            <!-- <nb-list-item>
                                <input nbInput type="text" style="width: 10em;" value="Quantity" size="small" readonly/>&nbsp;
                                <input nbInput type="text" style="width: 10em;" value="Unit" size="small" readonly>&nbsp;
                                <input nbInput type="text" style="width: 10em;" value="Unit Price" size="small" readonly/>&nbsp;
                                <input nbInput type="text" style="width: 6em;" value="Gst %" size="small" readonly/>&nbsp;
                                <input nbInput type="text" style="width: 10em;" value="Sell Price" size="small" readonly/>&nbsp;
                                <input nbInput type="text" style="width: 15em;" value="Safety Stock Level" size="small" readonly/>&nbsp;
                                <input nbInput type="text" style="width: 15em;" value="Serial Number" size="small" readonly/>&nbsp;
                            </nb-list-item>
                            <nb-list-item *ngFor="let type of product_packingtypes">
                                <input nbInput type="number" min="0" name="{{type.qty}}" [(ngModel)]="type.qty" placeholder="Quantity"  [ngModelOptions]="{standalone: true}"
                                value="{{type.qty}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;"/>&nbsp;
                                <input nbInput type="text" name="{{type.unit}}" [(ngModel)]="type.unit" placeholder="Unit "  [ngModelOptions]="{standalone: true}"
                                    value="{{type.unit}}" (keypress)="unit_open(unit_dialog,type)" size="small" style="width: 10em;"/>&nbsp;
                                <input nbInput type="number" min="0"  name="{{type.unit_price}}" [(ngModel)]="type.unit_price" placeholder="Unit Price"  [ngModelOptions]="{standalone: true}"
                                value="{{type.unit_price}}" size="small" oninput="validity.valid || (value='')" (change)="calculate_tax(type)" style="width: 10em;"/>&nbsp;
                                <input nbInput type="number" min="0"  name="{{type.tax}}" [(ngModel)]="type.tax" placeholder="Gst %"  [ngModelOptions]="{standalone: true}"
                                value="{{type.tax}}" size="small" oninput="validity.valid || (value='')"  (change)="calculate_tax(type)" style="width: 6em;"/>&nbsp;
                                <input nbInput type="number" min="0"  name="{{type.sell_price}}" [(ngModel)]="type.sell_price" placeholder="Sell Price"  [ngModelOptions]="{standalone: true}"
                                value="{{type.sell_price}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                                <input nbInput type="number" min="0"  name="{{type.safety_stock_level}}" [(ngModel)]="type.safety_stock_level" placeholder="Safety Stock"  [ngModelOptions]="{standalone: true}"
                                value="{{type.safety_stock_level}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                                <input nbInput type="text" maxlength="50"  name="{{type.serial_number}}" [(ngModel)]="type.serial_number" placeholder="Serial Number /Bar Code"  [ngModelOptions]="{standalone: true}"
                                value="{{type.serial_number}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                                <img src="{{type.bar_code}}" height="40" width="200" *ngIf="type.bar_code"/>
                                &nbsp;
                                <button nbButton size="small" status="danger"
                                    (click)="remove_types(type)"><b>X</b></button>
                            </nb-list-item> -->
                            <table class="table table-responsive">
                                <thead>
                                    <th></th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Unit Price</th>
                                    <th>Gst%</th>
                                    <th>Sell Price</th>
                                    <th>Safety Stock Level</th>
                                    <th>Serial Number</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let type of product_packingtypes; let  i = index">
                                        <td><button nbButton (click)="remove_types(type);" status="danger" size="small">X</button></td>
                                        <td>
                                            <input class="form-control form-control-sm" type="number" min="0" name="{{type.qty}}" [(ngModel)]="type.qty" placeholder="Quantity"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.qty}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;"/>&nbsp;
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" name="{{type.unit}}" [(ngModel)]="type.unit" placeholder="Unit "  [ngModelOptions]="{standalone: true}"
                                            value="{{type.unit}}" (keypress)="unit_open(unit_dialog,type)" size="small" style="width: 10em;"/>&nbsp;
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="number" min="0"  name="{{type.unit_price}}" [(ngModel)]="type.unit_price" placeholder="Unit Price"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.unit_price}}" size="small" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57" (change)="calculate_tax(type)" style="width: 10em;"/>&nbsp;
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="number" min="0"  name="{{type.tax}}" [(ngModel)]="type.tax" placeholder="Gst %"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.tax}}" size="small" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 46) ? null : event.charCode >= 48 && event.charCode <= 57"  (change)="calculate_tax(type)" style="width: 6em;"/>&nbsp;
                                            
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="number" min="0"  name="{{type.sell_price}}" [(ngModel)]="type.sell_price" placeholder="Sell Price"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.sell_price}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                             
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="number" min="0"  name="{{type.safety_stock_level}}" [(ngModel)]="type.safety_stock_level" placeholder="Safety Stock"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.safety_stock_level}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                                           

                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" maxlength="50"  name="{{type.serial_number}}" [(ngModel)]="type.serial_number" placeholder="Serial Number /Bar Code"  [ngModelOptions]="{standalone: true}"
                                            value="{{type.serial_number}}" size="small" oninput="validity.valid || (value='')" style="width: 10em;" />&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <nb-card accent="info">
                        <nb-card-header>
                            <b><u>Product Image: </u>&nbsp; </b>
                            <input #myInput type="file" formControlName="image" multiple (change)="onFileChange($event, 'image');"/>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <img src={{imgSrc}} alt="Product Image " height="80" width="80" *ngIf="imgSrc"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <nb-list-item *ngFor="let img of image_list">
                                    <div class="image-area">
                                    <img src={{img.image}} alt="" height="100" width="100" />
                                    <button nbButton status="danger" size="tiny" (click)="delete_image(img.product_id, img.id);" style="display: inline;">&#215;</button>
                                    </div>
                                    
                                </nb-list-item>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <button [nbSpinner]="loading"  type="submit" nbSpinnerStatus="success" nbButton status="success" (click)="saveProduct();" *ngxPermissionsOnly="['inventory.add_productmaster']"  >Save</button>&nbsp;&nbsp;
                    <!-- <button nbButton status="success" (click)="change_tab();" >Next</button>&nbsp;&nbsp; -->

                </div>
            </div>
        </form>
    </nb-tab>
    <!-- <nb-tab tabTitle="Packing Types">
        <div class="row">
            <div class="col-md-10">



            </div>
        </div>
        <div class="row">
            <div class="col-md-10">

            </div>
        </div>
    </nb-tab> -->
    <!-- <nb-tab tabTitle="Product  Images" [active]="IsProductImage" >
        <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <input type="file" formControlName="image" (change)="onFileChange($event, 'image');"/>
                    <button type="submit">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src={{imgSrc}} alt="Product Image " height="80" width="80"/>
                </div>
            </div>
            <nb-list>
                <nb-list-item *ngFor="let img of image_list">
                    <img src={{img.name}} alt="" height="40" width="40"/>
                </nb-list-item>
            </nb-list>
            <div class="row">
                <div class="col-md-3">
                    <button nbButton status="success" (click)="saveProduct();" >Save</button>&nbsp;&nbsp;
                    <button nbButton status="success" (click)="change_tab();" >Back</button>&nbsp;&nbsp;

                </div>
            </div>
        </form>

    </nb-tab> -->
</nb-tabset>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Category List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchCategory" /></nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data | search_filter:'category_name':searchCategory ">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.category_name }} - {{item.category_code }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
     </nb-card>
</ng-template>

<ng-template #sub_cat_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Sub Category List<input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchSubCategory" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data | search_filter:'sub_category_name':searchSubCategory ">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.sub_category_name }} - {{item.sub_category_code }}</i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #brand_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Brand List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchBrand" /></nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item size="small" *ngFor="let item of data| search_filter:'brand_name':searchBrand ">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.brand_name }} </i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #product_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Product List </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.product_code }} - {{ item.product_name }}  </i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #unit_dialog let-data let-ref="dialogRef">
    <nb-card size="medium">
        <nb-card-header>Unit Master List<input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchUnit" /> </nb-card-header>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let item of data| search_filter:'PrimaryUnit':searchUnit">
                    <i class="mr-auto mt-2 mt-lg-0">{{ item.PrimaryUnit }} - {{ item.SecondaryUnit }}  </i>
                    <button nbButton (click)="ref.close(item)" size="small">Select</button>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<!-- orderacceptance create purchase order -->