#editform {
    display: flex;
}

#edit-btn {
    border: none;
    background-color: #3f51b5;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.round {
    border-radius: 100%;
    width: 80%;
}

.user-heading {
    display: flex;
    justify-content: center;
}

.user-info {
    text-align: center;
}

#nb-btn {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
    padding: 0.6875rem 1.125rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1rem;
    transition-duration: 0.15s;
    transition-property: background-color, border-color, box-shadow, color;
    transition-timing-function: ease-in;
}

@media screen and (max-width: 600px) {
    #editform {
        display: block;
    }
}