ngb-toast {
    width: 20%;
    position: fixed;
    top: 15%;
    right: 0px;
}

@media screen and (max-width: 800px) {
    ngb-toast {
        width: 50%;
        position: fixed;
        top: 30%;
        right: 0px;
    }
}
