<form id="" [formGroup]="ServiceFrom" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Name"> Service Name <span style="color: red;">*</span></label>
            <input nbInput formControlName="ServiceNameFormControl" name="Name" placeholder=" Name"
            [ngClass]="{ 'is-invalid': submitted && f.ServiceNameFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.ServiceNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.ServiceNameFormControl.errors.required">Name is required</div>
                    </div>

        </div>
        <div class="form-group col-md-3">
            <label for="ServiceDescFormControl"> Description <span style="color: red;">*</span></label>
            <input nbInput formControlName="ServiceDescFormControl" name="Description" placeholder=" Description"
            [ngClass]="{ 'is-invalid': submitted && f.ServiceDescFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.ServiceDescFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.ServiceDescFormControl.errors.required">Description is required</div>
                    </div>

        </div>
        <div class=" form-group col-md-3">
            <label for="ServicePriceFormControl"> Price <span style="color: red;">*</span></label>
            <input type="number" min="0" nbInput formControlName="ServicePriceFormControl" name="Price" placeholder=" Price"

            [ngClass]="{ 'is-invalid': submitted && f.ServicePriceFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.ServicePriceFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.ServicePriceFormControl.errors.required">Price is required</div>
                        <div *ngIf="f.ServicePriceFormControl.errors.pattern">symbol not allowed</div>
                    </div>

        </div>
        <div class=" form-group col-md-3">
            <label for="ServicePriceFormControl"> Gst <span style="color: red;">*</span></label>
            <input type="text" nbInput formControlName="gstFormControl" name="Price" placeholder=" Gst"
            oninput="validity.valid || (value='')" min="0"
            [ngClass]="{ 'is-invalid': submitted && f.gstFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.gstFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.gstFormControl.errors.required">Gst is required</div>
                    </div>

        </div>
        <div class=" form-group col-md-3">
            <label for="ServicePriceFormControl">Service Hour <span style="color: red;">*</span></label>
            <input type="text" nbInput formControlName="serviceHourFormControl" name="serviceHour" placeholder=" Hour"
            oninput="validity.valid || (value='')" min="0"
            [ngClass]="{ 'is-invalid': submitted && f.serviceHourFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.serviceHourFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.serviceHourFormControl.errors.required">Hour required is required</div>
                    </div>

        </div>
        <div class="form-group col-md-3">
          <label for="unitName">Unit Name <span style="color: red;">*</span> </label>
          <input type="text" nbInput name="unitName" formControlName="unitFormControl" placeholder="Unit"
          (keypress)="open_unit_list(dialog)" (click)="open_unit_list(dialog)" readonly
          [ngClass]="{ 'is-invalid': submitted && f.unitFormControl.errors  }" class="form-control" />
          <div *ngIf="submitted && f.unitFormControl.errors" class="invalid-feedback">
              <div *ngIf="submitted && f.unitFormControl.errors.required">Unit Name is Required</div>

          </div>
      </div>
    </div><br>
    <div class=" form-row">

    </div><br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button nbButton [hidden]="!createFlag" size="small" (click)="save_Service();" status="success" *ngxPermissionsOnly="['store.add_storeservices']">Save</button>
            <button nbButton [hidden]="createFlag" size="small" (click)="update_Service();" status="success" *ngxPermissionsOnly="['store.change_storeservices']" >Update</button>
        </div>
    </div>
</form><br>
<div>

    <nb-card>
        <nb-card-header>Service List &nbsp;&nbsp; <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)] = "searchService" /></nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let service of services | search_filter:'service_name':searchService">
                <i class="mr-auto mt-2 mt-lg-0">{{ service.service_name }}-{{service.price}}-{{service.service_gst}}%gst-{{service.service_hour}}</i>
                <button nbButton size="small" (click)="delete_Service(service.id)" >Delete</button>
                <button nbButton size="small" (click)="selected_Service(service)" >Select</button>
                <!-- <button class="remove-from-category" nbButton size="small"  href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></button> -->
            </nb-list-item>
        </nb-card-body>
    </nb-card>
     <!-- <nb-card> -->
        <!-- <nb-card-header> Service List &nbsp;&nbsp; <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)] = "searchService" /></nb-card-header> -->
        <!-- <nb-card-body>
            <div class="row">
                <ng2-smart-table [settings]="settings" [source]="services"></ng2-smart-table>
                </div>
        </nb-card-body>
    </nb-card>  -->
    <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card size="medium">
          <nb-card-header>Units <input type="text" nbInput size="small" placeholder="Search .."
                  [(ngModel)]="searchUnit" /> </nb-card-header>
          <nb-card-body>
              <nb-list>
                  <nb-list-item *ngFor="let item of unitData |search_filter:'unit name':searchUnit ">
                      <i class="mr-auto mt-2 mt-lg-0"> {{item.PrimaryUnit }}- {{item.SecondaryUnit }}</i>
                      <button nbButton (click)="ref.close(item)" size="small">Select</button>
                  </nb-list-item>
              </nb-list>
          </nb-card-body>
          <nb-card-footer>
              <button nbButton (click)="ref.close()">Close</button>
          </nb-card-footer>
      </nb-card>
  </ng-template>
</div>
