<div class="container">
<a  class="btn btn-outline-info btn-sm" href="cart" roterLink="cart"><i class="icon-arrow-left"></i>&nbsp;Back to Cart</a><br>
</div><br>
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{CartTotalItems}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of CarttList">
                    <div>
                        <h3 class="my-0">{{product.product__product_name}}</h3>
                        <small class=" d-inline-block  col-2 text-truncate">{{product.product__description}}</small>
                    </div>
                    <span class="text-muted">{{product.qty}} </span>
                    <span class="text-muted">{{product.sub_total | currency:'&#8377;'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Sub Total (INR)</span>
                    <strong>{{Total | currency:'&#8377;'}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>{{ promo_code}}</small>
                    </div>
                    <span class="text-success">-{{discount_amt | currency :'INR'}}</span>
                </li> 
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (INR)</span>
                    <strong>{{Final_Total | currency:'&#8377;'}}</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="promo_code" name="promo_code" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="button" (click)="verify_code()" class="btn btn-secondary">apply</button><br>
                    </div>
                    
                </div>
                <div>
                    <strong *ngIf="promo_code_error" style="color: red;">Not a vaild promo code</strong>
                    <strong *ngIf="promo_code_error == false" style="color: rgb(21, 255, 0);">Vaild promo code</strong>
                </div>
            </form>
        </div>
        
        <div class="col-md-8 order-md-1">
            <h3 class="mb-3">Billing address</h3>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Select Address
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div *ngFor="let address of AddressList; let i = index" (click)="AddressSelected(address)">
                        <span class="dropdown-item"> {{address.address_line1}},
                      {{address.address_line1}}
                    </span>
                        <hr *ngIf="i != AddressList.length-1">
                    </div>

                </div>
            </div>


            <br>
            <div *ngIf="SelectedAddress!=null" id="SelectedAddress">
                {{SelectedAddress.address_line1}}
                <br> {{SelectedAddress.city}},{{SelectedAddress.state}}
                <br> {{SelectedAddress.pin_code}},{{SelectedAddress.phone_number}}
                <br> <br>
            </div>


            <div *ngIf="!NewAddress">
                <button class="btn info" (click)="ShowAddress()"><i class="fa fa-plus" aria-hidden="true"></i> New Address</button>
            </div>
            <div *ngIf="NewAddress" class="cancel">
                <button class="btn info" (click)="ShowAddress()" *ngIf="NewAddress"> Cancel</button>
                <br>
            </div>

            <div *ngIf="NewAddress">

                <form #addaddress="ngForm" (ngSubmit)="AddNewAddress(addaddress)">


                    <div class="mb-3">
                        <label for="mobile">Mobile</label>
                        <input type="number" class="form-control" name="mobile" id="mobile" ngModel required>
                        <div class="invalid-feedback">
                            Please enter a valid Mobile number address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" ngModel required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or suite" ngModel required>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" name="City" placeholder="City" ngModel required>

                            <div class="invalid-feedback">
                                Please select a valid City.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="State" name="State" placeholder="State" ngModel required>

                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" name="zip" placeholder="" ngModel required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg btn-block" style="width: 20%;" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <hr class="mb-4">
            <form #checkout="ngForm" (ngSubmit)="CheckOut(checkout)">
                <h3 class="mb-3">Payement Method</h3>

                <div id="payment-method">
                    <input type="radio" value="2" name="paymentMethod" ngModel> Credit Card <br>
                    <input type="radio" value="3" name="paymentMethod" ngModel> Debit Card <br>
                    <input type="radio" value="4" name="paymentMethod" ngModel> Net Banking <br>
                    <input type="radio" value="5" name="paymentMethod" ngModel> UPI<br>
                    <input type="radio" value="1" name="paymentMethod" ngModel> COD <br>
                </div>
                <hr class="mb-4">
                <h3 class="mb-3">Delivery Method</h3>
                <div id="Delivery-Method">
                    <input type="radio" value="1" name="DeliveryMethod" ngModel> Door Delivery <br>
                    <input type="radio" value="2" name="DeliveryMethod" ngModel> Self Pick <br>
                    <input type="radio" value="3" name="DeliveryMethod" ngModel> Courier
                </div>
                <br>
                <div *ngIf="SelectedAddress!=null">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Payment</button>
                </div>
            </form>
            <div>

            </div>
            <hr class="mb-4">

            <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4"> -->

            <!--    <h4 class="mb-3">Payment</h4>
            <form class="needs-validation" novalidate="">
               <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>-->
        </div>
    </div>
</div>
