.info {
    color: dodgerblue;
}

.cancel {
    color: dodgerblue;
    display: flex;
    justify-content: flex-end;
}

#SelectedAddress {
    font-weight: 500;
}

.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}