
{% extends "base.html" %}
{% block content %}
<div class="alert alert-primary">
    <a href="{% url 'inventory_ProductSubCategory_create' %}" class="btn btn-outline-primary btn-sm">Create a new Product Sub-Category </a>
</div>
<section class="testimonial py-5" id="testimonial">
<div class="container shadow bg-white rounded">
  <table class="table table-hover btn-sm">
        <thead class="thead-light">
            <th></th>
            <th>Sub Category Name</th>
            <th>Sub Category Code</th>
            <th>Description</th>
            <th>Parent Category</th>


        </thead>
        <tbody>
         {% for object in object_list %}
            <tr>
                <td><a href="{% url 'inventory_ProductSubCategory_update' object.id %}" class="btn btn-outline-primary btn-sm">Edit</a></td>
                <td>{{ object.sub_category_name }}</td>
                <td>{{ object.sub_category_code }}</td>
                <td>{{ object.description }}</td>
                <td><a href="{% url 'inventory_ProductCategory_detail' object.category_id %}" >{{ object.category }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</section>
{% endblock %}
