
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'inventory_ProductMaster_list' %}">
    ProductMaster Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="hsn_code">hsn_code: </label>
  <input class="form-control col-sm-10" id="hsn_code" type="text" name="hsn_code" value="{{ object.hsn_code }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_code">product_code: </label>
  <input class="form-control col-sm-10" id="product_code" type="text" name="product_code" value="{{ object.product_code }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_image">product_image: </label>
  <input class="form-control col-sm-10" id="product_image" type="file" name="product_image" value="{{ object.product_image }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="description">description: </label>
  <input class="form-control col-sm-10" id="description" type="text" name="description" value="{{ object.description }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_name">product_name: </label>
  <input class="form-control col-sm-10" id="product_name" type="text" name="product_name" value="{{ object.product_name }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}