
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<div class="alert alert-primary">
    <a class="btn btn-outline-primary" href="{% url 'inventory_ProductMaster_list' %}">
    Product Master List
    </a>
</div>
<section class="testimonial py-5" id="testimonial">
<div class="container shadow bg-white rounded"><br>
<form id="form_product_master" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">{{ form.category.label_tag  }}</p>
      {{ form.category  }}
      <p class="col-sm-2 col-form-label">{{ form.sub_category.label_tag  }}</p>
      {{ form.sub_category  }}
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_name">Product Name: </label>
  <input class="form-control col-sm-4" id="product_name" type="text" name="product_name" value="{{ object.product_name }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_code">Product Code: </label>
  <input class="form-control col-sm-4" id="product_code" type="text" name="product_code" value="{{ object.product_code }}">

  <label class="col-sm-2 col-form-label" for="hsn_code">HSN Code: </label>
  <input class="form-control col-sm-4" id="hsn_code" type="text" name="hsn_code" value="{{ object.hsn_code }}">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="description">Description: </label>
    <input class="form-control col-sm-4" id="description" type="text" name="description" value="{{ object.description }}">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="product_image">Upload Image: </label>
    <input class="form-control col-sm-4" id="product_image" type="file" name="product_image" value="{{ object.product_image }}">
  </div>
  <div class="form-group row">
     <p class="col-sm-2 col-form-label">{{ form.brand.label_tag  }}</p>
      {{ form.brand  }}

  </div>
  <hr>


  <input type="submit" value="Save" class="btn btn-outline-primary">
</form>
  <br>
</div>
</section>
<script>

  $('#id_category').click(function(e){
    console.log("clicked");
    $.ajax({
        type:'GET',
        url:'{% url "inventory_ProductSubCategory_list" %}',
        data:{
            category_id:$('#id_category').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            $("#sub_category_id").html(json)
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>
{% endblock %}