
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'inventory_ProductPriceMaster_list' %}">
    ProductPriceMaster Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="primaryunit_price_buy">primaryunit_price_buy: </label>
  <input class="form-control col-sm-10" id="primaryunit_price_buy" type="text" name="primaryunit_price_buy" value="{{ object.primaryunit_price_buy }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="primaryunit_price_sell">primaryunit_price_sell: </label>
  <input class="form-control col-sm-10" id="primaryunit_price_sell" type="text" name="primaryunit_price_sell" value="{{ object.primaryunit_price_sell }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="secondaryunit_price_sell">secondaryunit_price_sell: </label>
  <input class="form-control col-sm-10" id="secondaryunit_price_sell" type="text" name="secondaryunit_price_sell" value="{{ object.secondaryunit_price_sell }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="secondaryunit_price_buy">secondaryunit_price_buy: </label>
  <input class="form-control col-sm-10" id="secondaryunit_price_buy" type="text" name="secondaryunit_price_buy" value="{{ object.secondaryunit_price_buy }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}