
{% extends "base.html" %}
{% block content %}
<div class="alert alert-primary">
  <a class="btn btn-outline-primary" href="{% url 'inventory_UnitMaster_create' %}">Create a new Unit Master</a>
</div>
<section class="testimonial py-5" id="testimonial">
<div class="container shadow bg-white rounded">
<table class="table table-hover">
<thead>
<th> Primary Unit</th>
<th> Secondary Unit</th>
</thead>
<tbody>
{% for object in object_list %}
 <tr>
   <td><a href="{{object.get_absolute_url}}">{{object.PrimaryUnit}}</a></td>
   <td>{{object.SecondaryUnit}}</td>
 </tr>
<!--  <div class="m-2"><a href="{{object.get_absolute_url}}">{{object}}</a></div>-->
{% endfor %}
</tbody>
</table>
</div>
</section>
{% endblock %}
