
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<div class="alert alert-primary">
    <a class="btn btn-outline-primary" href="{% url 'inventory_UnitMaster_list' %}">
    Unit Master List
    </a>
</div>
<section class="testimonial py-5" id="testimonial">
<div class="container shadow bg-white rounded">
<table class="table">
    <tr><td>Primary Unit</td><td>{{ object.PrimaryUnit }}</td></tr>
    <tr><td>Secondary Unit</td><td>{{ object.SecondaryUnit }}</td></tr>
</table>

<a class="btn btn-outline-primary" href="{{object.get_update_url}}">Edit</a>
<br>
</div>
</section>
{% endblock %}