<a href="ManageStoreList" nbButton size="small" status="success"> Back to Branch List </a>
<nb-tabset>
    <nb-tab tabTitle="Branch Information">

        <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="storeName">Branch Name  <span style="color: red;">*</span></label>
                    <input type="text" formControlName="storeNameFormControl" nbInput name="storeName" placeholder="Branch Name"
                    [ngClass]="{ 'is-invalid': submitted && f.storeNameFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.storeNameFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.storeNameFormControl.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="storeAddress">Branch Address <span style="color: red;">*</span></label>
                    <textarea formControlName="storeAddressFormControl" nbInput name="storeAddress" placeholder="Branch Address"
                    [ngClass]="{ 'is-invalid': submitted && f.storeAddressFormControl.errors }" class="form-control"></textarea>
                    <div *ngIf="submitted && f.storeAddressFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.storeAddressFormControl.errors.required">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="storeCity">City <span style="color: red;">*</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                    <input type="text" formControlName="storeCityFormControl" nbInput name="storeCity"  placeholder="City"
                    [ngClass]="{ 'is-invalid': submitted && f.storeCityFormControl.errors }" class="form-control"/>
                    <div *ngIf="submitted && f.storeCityFormControl.errors" class="invalid-feedback">
                        <div *ngIf="f.storeCityFormControl.errors.required">City is required</div>
                    </div>
                </div> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;


                <div class="form-group col-md-3">
                    <label for="storePinCode">Pin Code <span style="color: red;">*</span></label>
                    <input nbInput  type="text" formControlName="storePinCodeFormControl" (keypress)="keyPress($event)" placeholder="Pin Code" name="storePinCode" 
                    [ngClass]="{ 'is-invalid': submitted && f.storePinCodeFormControl.errors  }" class="form-control" />
                    <div *ngIf="submitted && f.storePinCodeFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.storePinCodeFormControl.errors.required"> Pin Code is Required</div>
                        <div *ngIf="submitted &&  f.storePinCodeFormControl.errors?.pattern ">Pin Code must be 6 numbers </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="storeGst">GST Number <span style="color: red;">*</span></label>
                    <input type="text" formControlName="gstFormControl"   placeholder="GST Number" nbInput name="storeGst" 
                    [ngClass]="{ 'is-invalid': submitted && f.gstFormControl.errors  }" class="form-control" />
                    <div *ngIf="submitted && f.gstFormControl.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.gstFormControl.errors.required"> Gst Number is Required</div>
                        <div *ngIf="submitted &&  f.gstFormControl.errors.minlength ">Gst number must be 15 numbers </div>
                        <div *ngIf="submitted &&  f.gstFormControl.errors.maxlength ">Gst number must be 15 numbers </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="mainBranch">Is Head Office</label>
                    <input type="checkbox" formControlName="mainBranchFormControl" name="mainBranch" />
                </div>

            </div><br>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <button nbButton [hidden]="!createFlag"   (click)="saveStore();" status="success" *ngxPermissionsOnly="['store.add_storeuser']" >Save</button>&nbsp;&nbsp;
                    <button nbButton [hidden]="createFlag"   (click)="updateStore();" status="success" *ngxPermissionsOnly="['store.change_storeuser']">Update</button>&nbsp;&nbsp;

                </div>
            </div>
        </form>
    </nb-tab>
    <!-- <nb-tab tabTitle="Branch Shiping Location">
        <div class="row">
            <div class="col-md-3">
                <label for="store_location">Branch Store</label>
                <nb-select name="store_location" [(ngModel)]="selected_store" >
                    <nb-option *ngFor="let o of store_list" value="{{o.id}}" (click)="get_ship_locations()">
                        {{ o.store_name }}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label for="storeName">Shipping Pin code</label>
                <input type="text" [(ngModel)]="shipPinCode"  nbInput name="shipPinCode" />
            </div>
            <div class="col-md-3">
                <label for="storeName">Location Name</label>
                <input type="text" [(ngModel)]="shipLocationName" nbInput name="ShipLocationname" />
            </div>
        </div> <br>
        <div class="row"> 
            <div class="col-md-3">
                <button nbButton *ngIf="createFlag_Loc"  (click)="save_location(shipPinCode,shipLocationName)" status="success" >Save</button>
                <button nbButton  *ngIf="!createFlag_Loc" (click)="update_location(shipPinCode,shipLocationName)" status="success" >Update</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-8">
            <nb-card>
                <nb-card-header>Branch Shipping Location List &nbsp;&nbsp; <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchPinCode" /></nb-card-header>
                <nb-card-body>
                    <nb-list-item *ngFor="let store of store_location | search_filter:'pin_code':searchPinCode">
      
                        <i class="mr-auto mt-2 mt-lg-0"> Location Name : {{ store.location_name }}</i> Pin Code : <i class="mr-auto mt-2 mt-lg-0"> {{ store.pin_code }}</i>
                        <button nbButton size="small" (click)="get_selected_loc(store)" >Select</button>
                      </nb-list-item>
                </nb-card-body>
            </nb-card>
            </div>
        </div>
    </nb-tab> -->
</nb-tabset>