<a href="ManageStoreList" nbButton size="small" status="success"> Back to Store List </a>
<nb-tabset>
    <nb-tab tabTitle="Store Information">

        <div [formGroup]="storeForm">
            <div class="row">
                <div class="col-md-3">
                    <label for="storeName">Store Name</label>
                    <input type="text" formControlName="storeNameFormControl" nbInput name="storeName" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="storeAddress">Store Address</label>
                    <textarea formControlName="storeAddressFormControl" nbInput name="storeAddress"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="storeCity">City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" formControlName="storeCityFormControl" nbInput name="storeCity" />
                </div> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                <div class="col-md-3">
                    <label for="storePinCode">pin Code</label>
                    <input nbInput formControlName="storePinCodeFormControl" name="storePinCode" />
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-3">
                    <label for="storeGst">GST Number</label>
                    <input type="text" formControlName="gstFormControl" nbInput name="storeGst" />
                </div>
                <div class="col-md-3">
                    <label for="mainBranch">Is Head Office</label>
                    <input type="checkbox" formControlName="mainBranchFormControl" name="mainBranch" />
                </div>

            </div><br>
            <div class="row">
                <div class="col-md-3">
                    <button nbButton [hidden]="!createFlag"   (click)="saveStore();" status="success" *ngxPermissionsOnly="['store.add_storeuser']" >Save</button>&nbsp;&nbsp;
                    <button nbButton [hidden]="createFlag"   (click)="updateStore();" status="success" *ngxPermissionsOnly="['store.change_storeuser']">Update</button>&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Store Shiping Location">
        <div class="row">
            <div class="col-md-3">
                <label for="store_location">Select Store</label>
                <nb-select name="store_location" [(ngModel)]="selected_store" >
                    <nb-option *ngFor="let o of store_list" value="{{o.id}}" (click)="get_ship_locations()">
                        {{ o.store_name }}
                    </nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label for="storeName">Shipping Pin code</label>
                <input type="text" [(ngModel)]="shipPinCode"  nbInput name="shipPinCode" />
            </div>
            <div class="col-md-3">
                <label for="storeName">Location Name</label>
                <input type="text" [(ngModel)]="shipLocationName" nbInput name="ShipLocationname" />
            </div>
        </div> <br>
        <div class="row"> 
            <div class="col-md-3">
                <button nbButton (click)="save_location(shipPinCode,shipLocationName)" status="success" *ngxPermissionsOnly="['store.add_storeuser']">Save</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-8">
            <nb-card>
                <nb-card-header>Store Shipping Location List &nbsp;&nbsp; <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchPinCode" /></nb-card-header>
                <nb-card-body>
                    <nb-list-item *ngFor="let store of store_location | search_filter:'pin_code':searchPinCode">
      
                        <i class="mr-auto mt-2 mt-lg-0"> Location Name : {{ store.location_name }}</i> Pin Code : <i class="mr-auto mt-2 mt-lg-0"> {{ store.pin_code }}</i>
                        <button nbButton size="small" (click)="get_selected_loc(store)" >Select</button>
                      </nb-list-item>
                </nb-card-body>
            </nb-card>
            </div>
        </div>
    </nb-tab>
</nb-tabset>