<br>
<div class="container" style="margin-bottom: 1em;;margin-top: 2em;">
    <div class="content" fxLayoutGap="16px grid" fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <div fxFlex="40" fxFlex.xs="55">

            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" *ngFor="let image of Product.images;  let i=index" [ngClass]="(i === 0) ? 'active' : ''" attr.data-slide-to="{{i}}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of Product.images;  let i=index" [ngClass]="(i === 0) ? 'active' : ''">
                        <img height="300px" class="d-block w-100" src="{{BaseUrl+image.image}}" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
        <div fxFlex="60" fxFlex.xs="45">
            <h2>{{Product.product_name}}</h2>
            <medium>Brand : {{Product.brand__brand_name}}</medium>
            <div class="rating" *ngIf="ratings.length > 1">
                <span class="rating rating-box"><span style="margin-top: 5%;"> {{Avgratings}} </span>&nbsp;
                <span _ngcontent-jxi-c387="" class="material-icons"> star </span></span>
            </div>
            <div *ngIf="ratings.length > 1" style="margin-top: 8px;
              margin-left: 5px;">
                <span style="font-size: 15px;font-weight: 500;">{{ratings.length-1}}</span> reviews
            </div>
            <div class="rating" *ngIf="ratings.length == 1">
                <span class="rating rating-box"><span style="margin-top: 5%;"> {{Avgratings}} </span>&nbsp;
                <span _ngcontent-jxi-c387="" class="material-icons"> star </span></span>
            </div>
            <div *ngIf="ratings.length === 1" style="margin-top: 8px;
                margin-left: 5px;">
                <span style="font-size: 15px;font-weight: 500;color: grey;">No Reviews </span>
            </div>

            <form #crf="ngForm" (ngSubmit)="AddToCart(crf,Product)">
                <div id="inputDiv">
                    <div class="form-group">
                        <!-- <select class="form-control" id="FormControlSelect" name="packingType" ngModel required>
<option *ngFor="let packingType of Product.price; let i = index"  value={{packingType.id}}  [attr.selected]="i == 0">
{{packingType.qty+" "+packingType.unit__PrimaryUnit+" - " }}  {{ packingType.sell_price | currency: 'INR' }}
</option>
</select> -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>Select Unit</mat-label>
                            <mat-select id="FormControlSelect" name="packingType" ngModel required>
                                <mat-option *ngFor="let packingType of Product.price; let i = index" [value]="packingType.id">
                                    {{packingType.qty+" "+packingType.unit__PrimaryUnit +" - "}} {{ packingType.sell_price | currency :'INR' }}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div class="form-group" style="display: flex;">
                        <input type="number" min="1" class="form-control" id="exampleFormControlInput1" name="Quantity" placeholder="Quantity" oninput="validity.valid || (value='')" ngModel required> &nbsp;
                        <button type="submit" class="btn btn-outline-primary btn-sm" style="width: -webkit-fill-available;">Add to cart</button>

                    </div>
                </div>

            </form>

            <br>

        </div>


    </div>
    <br><br>
    <div>
        <h3><span class="headline"> About the Product</span></h3>
        {{Product.description}}
    </div>
    <br><br>
    <div>
        <h3><span class="headline">Product Attributes</span> </h3>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let att of productAttribute">
                    <td>{{att.name}}</td>
                    <td>{{att.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3><span class="headline">Disclaimer</span> </h3>
    <p>Despite our attempts to provide you with the most accurate information possible, the actual packaging, ingredients and colour of the product may sometimes vary. Please read the label, directions and warnings carefully before use.</p>
    <br>
    <div>
        <h3><span class="headline">Review this product</span> </h3>
        <h1 class="text-primary">
            <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
        </h1>
        <div>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comment"></textarea>
            <br>
            <button type="submit" class="btn btn-success green" (click)="rateProduct()"> Comment</button>

        </div>
    </div>
    <br>
    <div *ngIf="ratings.length > 0">
        <h3><span class="headline">Ratings and Reviews</span> </h3>
        <div *ngFor="let rating of ratings">
            <h2>
                {{rating.first_name}}
            </h2>
            <h1 class="text-primary">
                <ngb-rating [max]="5" [rate]="rating.rating" [readonly]="true"></ngb-rating>
            </h1>
            <h4>
                {{rating.comment}}
            </h4>
            <hr>
        </div>

    </div>
</div>


<br><br>