<div id="" [formGroup]="subcategoryFrom" >
    <div class="col-md-3"> 
        <label for="categoryName">Category Name</label>
        <input nbInput formControlName="categoryNameFormControl" name="categoryName" placeholder="Category Name" (keypress)="open(dialog)" />
    </div>
    <div class="row">
        <div class="col-md-3"> 
            <label for="subcategoryName">Sub Category Name</label>
            <input nbInput formControlName="subcategoryNameFormControl" name="subcategoryName" placeholder="Sub Category Name" />
        </div>
        <div class="col-md-3">
            <label for="subcategoryCode">Sub Category Code</label>
            <input nbInput formControlName="subcategoryCodeFormControl" name="subcategoryCode" placeholder="SUb Category Code"/>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3">
            <label for="subcategoryDesc">Sub Category Description</label>
            <input nbInput formControlName="subcategoryDescFormControl" name="subcategoryDesc" placeholder="Sub Category Desc"/>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-md-4"> 
            <button nbButton *ngIf="createFlag" (click)="save_sub_category();" status="success">Save</button>
            <button nbButton *ngIf="!createFlag" (click)="update_sub_category();" status="success">Update</button>
        </div>
    </div>
</div><br>
<div>
    <nb-card>
        <nb-card-header>Sub Category List</nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let subcategory of sub_categories">
                <i class="mr-auto mt-2 mt-lg-0">{{ subcategory.sub_category_code }} - {{ subcategory.sub_category_name }}</i>
                <button nbButton size="small" (click)="selected_sub_category(category)" >Select</button>
              </nb-list-item>
        </nb-card-body>
    </nb-card>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Category List </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of data">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.category_name }} - {{item.category_code }}</i>
              <button nbButton (click)="selected_category(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close Dialog</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>