<div id="" [formGroup]="subcategoryFrom" >
    
    <div class="row">
        <div class="col-md-3"> 
            <label for="categoryName">Category Name</label>
            <input nbInput formControlName="categoryNameFormControl" name="categoryName" placeholder="Category Name" (keypress)="open(dialog)" readonly />
        </div><br>
        <div class="col-md-3"> 
            <label for="subcategoryName">Sub Category Name</label>
            <input nbInput formControlName="subcategoryNameFormControl" name="subcategoryName" placeholder="Sub Category Name" />
        </div>
        <div class="col-md-3">
            <label for="subcategoryCode">Sub Category Code</label>
            <input nbInput formControlName="subcategoryCodeFormControl" name="subcategoryCode" placeholder="Sub Category Code"/>
        </div>
        <div class="col-md-3">
            <label for="subDescription">Description </label>
            <input nbInput formControlName="subDescription" name="subDescription" placeholder="Sub Category Description"/>
        </div>
    </div><br>
    <div class="row">
    <div class="col-md-6">
        <label for="subCatImage">Image</label>
        <input nbInput type="file"  (change)="onFileChange($event)" name="subCatImage" />
        
    </div>
    <div class="col-md-6" *ngIf="subcat_image">            
        <img src="{{subcat_image}}" class="rounded"  width="80" height="80" />
    </div>
    </div>
    <div class="row">
        <div class="col-md-4"> 
            <button nbButton *ngIf="createFlag" (click)="save_sub_category();" status="success">Save</button>
            <button nbButton *ngIf="!createFlag" (click)="update_sub_category();" status="success">Update</button>
        </div>
    </div>
</div><br>
<div>
    <nb-card size="large">
        <nb-card-header>Sub Category List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchSubCategory" /></nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let subcategory of sub_categories | search_filter:'sub_category_name':searchSubCategory ">
                <i class="mr-auto mt-2 mt-lg-0">{{ subcategory.category.category_name  }} / {{ subcategory.sub_category_code }} / {{ subcategory.sub_category_name }}</i>
                <img src="{{subcategory.sub_category_image}}" width="40" height="40"/>
                <button nbButton size="small" (click)="selected_sub_category(subcategory)" >Select</button>
              </nb-list-item>
        </nb-card-body>
    </nb-card>
</div>
<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Category List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchCatgory" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of data | search_filter:'category_name':searchCatgory ">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.category_name }} - {{item.category_code }}</i>              
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>