<form id="" [formGroup]="subcategoryFrom" (ngSubmit)="onSubmit()" >
    
    <div class="form-row">
        <div class="form-group col-md-3"> 
            <label for="categoryName">Category Name</label>
            <input nbInput formControlName="categoryNameFormControl" (keypress)="open(dialog)" (click)="open(dialog)" name="categoryName" placeholder="Category Name" (keypress)="open(dialog)" readonly 
            [ngClass]="{ 'is-invalid': submitted && f.categoryNameFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.categoryNameFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.categoryNameFormControl.errors.required">Category Name is required</div>
            </div>
        </div><br>
        <div class="form-group col-md-3"> 
            <label for="subcategoryName">Sub Category Name</label>
            <input nbInput formControlName="subcategoryNameFormControl" name="subcategoryName" placeholder="Sub Category Name"
            [ngClass]="{ 'is-invalid': submitted && f.subcategoryNameFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.subcategoryNameFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.subcategoryNameFormControl.errors.required">Sub Category Name is required</div>
            </div> 
        </div>
        <div class="form-group col-md-3">
            <label for="subcategoryCode">Sub Category Code</label>
            <input nbInput formControlName="subcategoryCodeFormControl" name="subcategoryCode" placeholder="Sub Category Code"
            [ngClass]="{ 'is-invalid': submitted && f.categoryNameFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.categoryNameFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.categoryNameFormControl.errors.required">Sub Category Code is required</div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="subDescription">Description </label>
            <input nbInput formControlName="subDescription" name="subDescription" placeholder="Sub Category Description"
            [ngClass]="{ 'is-invalid': submitted && f.subDescription.errors }" class="form-control"/>
            <div *ngIf="submitted && f.subDescription.errors" class="invalid-feedback">
                <div *ngIf="f.subDescription.errors.required">Description is required</div>
            </div>
        </div>
    </div><br>
    <div class="form-row">
    <div class="form-group col-md-4" >
        <label for="subCatImage" >Image</label>
        <input #myInput nbInput type="file"  alt="No Image" formControlName="subCatImageFormControl" (change)="onFileChange($event)"  name="subCatImage" />
        
        
    </div>
    <div class="form-group col-md-4" *ngIf="subcat_image">            
        <img src="{{subcat_image}}" class="rounded" #fileUploader  width="80" height="80"  />
       
    </div>
    </div><br>
    <div class="form-row">
        <div class="form-group col-md-4"> 
            <button nbButton [hidden]="!createFlag" (click)="save_sub_category(); " status="success" *ngxPermissionsOnly="['inventory.add_productsubcategory']">Save</button>
            <button nbButton [hidden]="createFlag" (click)="update_sub_category();"  status="success" *ngxPermissionsOnly="['inventory.change_productsubcategory']" >Update</button>
        </div>
    </div>
</form><br>
<div>
    <nb-card size="large">
        <nb-card-header>Sub Category List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchSubCategory" /></nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let subcategory of sub_categories | search_filter:'sub_category_name':searchSubCategory ">
                <i class="mr-auto mt-2 mt-lg-0">{{ subcategory.category.category_name  }} / {{ subcategory.sub_category_code }} / {{ subcategory.sub_category_name }}</i>
                <img src="{{subcategory.sub_category_image}}" alt="Subc" width="40" height="40"/>
                <button nbButton size="small" (click)="selected_sub_category(subcategory)" >Select</button>
              </nb-list-item>
        </nb-card-body>
    </nb-card>
</div>
<ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card size="large" >
      <nb-card-header>Category List <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)]="searchCatgory" /> </nb-card-header>
      <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of data | search_filter:'category_name':searchCatgory ">
              <i class="mr-auto mt-2 mt-lg-0">{{ item.category_name }} - {{item.category_code }}</i>              
              <button nbButton (click)="ref.close(item)" size="small">Select</button>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>