<div id="bill">
<nb-card>
    <nb-card-header style="text-align: center;font-size: large;"><b >Invoice</b> </nb-card-header>
    <nb-card-body>
        <!-- <div class="row">
            <div class="col-md-2">
                <img src="../assets/images/D5N_Logo.jpg"  width="120px" height="120px" alt="">
            </div>
            <div class="col-md-10" style="text-align: center;">
                <h5>COGNOVIT POWER SOLUTIONS PVT LTD <br>
                    <h6>#2884,14th Main,14th Cross,'E' Block 2nd Stage,Rajajinagar Bangalore -560010.</h6></h5><br>
                
            </div>

        </div>
        <hr > -->
        <!-- <div class="row">
            <div class="col-md-6">
                <p><b>GSTIN:</b> 29AAFCC5030L1ZK</p>
                <p><b>STATE :</b>  Karnataka [29]</p>
            </div>
            <div class="col-md-6">
                <p><b>Email Id:</b> adarsh@cognovit.in</p>
                <p><b>Phone No.:</b>  080-23324566</p>
            </div>
        </div> -->
        <!-- <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>Billing Details (Bill To)</h3>
                <p><b>Name:</b> {{vendor_name}}</p>
                <p><b>Address:</b>  {{shipping_address}}</p>
                <p><b>State:</b>  Karnataka</p>
                <p><b>Phone No:</b>  9448059232</p>
                <p><b>GSTIN:</b>  29AHKPR7842N1ZB</p>
                
            </div>
            <div class="col-md-6">
                 <p><b>PO Number:</b>  &nbsp; &nbsp;<b>Date:</b>  </p><br> -->
                <!-- <p>PO No. :{{po_number}}</p><br>
                <p>Date :{{po_date}} </p><br>
                <p><b>Dispatch Doc No:</b> </p><br>
                <p><b>Date:</b> </p>
            </div>
        </div>  -->
        <!-- <hr> -->
        <!-- <div class="row">
            <div class="col-md-6">
                <h3>Shipping Details (Ship To)</h3>
                <p><b>Name:</b> </p>
                <p><b>Address:</b></p>
                 <p><b>State:</b>  Karnataka</p> -->
                <!-- <p><b>Phone No:</b>  {{vendor_number}}</p>
                <p><b>GSTIN:</b>  {{gst_no}}</p> -->
                
            <!-- </div>
            <div class="col-md-6">
                <p> <b>Type Of Payment</b>  :</p>
                <p><b>Destination</b>  :</p>
                <p><b>Vehicle No </b> :</p>
                <p><b>Freight</b>  :</p>
                <p><b>Vendor Code</b>  :</p>
                <p><b>Eway No</b>   :</p>
            </div>
        </div>  -->
        <!-- <hr>
        <table   style="text-align: center;" class="table table-responsive table-borderd">
            <thead>
                <th>Product</th>
                
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
               
                <th>Discount</th>
                <th>GST Value</th>
                <th>Grand Total</th>
                
               
            </thead>
            
            <tbody  >
                <tr *ngFor="let item of invoice_details.order_details">
                    <td >{{item.product__product_name}}</td>
                    
                    
                    <td>{{item.qty}}</td>
                    <td>{{item.unit_price}}</td>
                    <td>{{item.total_amount}}</td>
                    
                    <td>{{item.disc_amount}}</td>
                   <td>{{item.gst_amount}}</td>
                    <td>{{grandTotal}}</td>
                    
                </tr>
                
               
            </tbody>
        
        </table>
        <hr> -->
        <!-- <div class="row">
            <div class="col-md-6">
                <b><h6>Terms and Conditions</h6></b>
                <p>1. All the dispute will be Subject to Bangalore Jurisdiction. <br>
                    2. In all claims the company decision is final and binding. <br>
                    3. In case if the payment are not made within due date 24% Interest will be charged p. a. <br>
                    4. The Warranty commence from the date of Invoice .
                 </p>
              
            </div>
         
        </div><hr>
        <div class="row">
            <div class="col-md-6">
                <p>RECEIVED THE MATERIAL IN GOOD CONDITION</p><br>
                <p>RECEIVER'S SIGNATURE AND SEAL</p>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <p>For COGNOVIT POWER SOLUTIONS PVT LTD</p><br>
                <p>Authorised Signatory</p>
            </div>
         
        </div> -->


        <table class="table-bordered " >
            <tbody>
                <tr>
                    <td colspan="6">
                        <div class="row">
                           
                            <div class="col-md-12" style="text-align: left;">
                               &nbsp; <img src="../assets/images/D5N_Logo.jpg"  width="60px" height="60px" alt=""><b><span style="font-weight: 500;text-align: center;"><h2>{{store_name}}</h2>
                                <h6>{{address}}</h6></span></b> <br>
                               
                            </div>
                            <div style="text-align:center;">
                                
                            </div>
                
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align: left;">
                                <p><b>GSTIN:</b> 29AAFCC5030L1ZK</p>
                                <p><b>STATE :</b>  Karnataka [29]</p>
                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                <p><b>Email Id:</b> adarsh@D5N.in</p>
                                <p><b>Phone No.:</b>  080-23324566</p>
                            </div>
                        </div>
                    </td>
                 </tr>
                 <tr >
                     <td colspan="3" style="text-align: left;">
                        <h6>Shipping Details (Ship To)</h6>
                        <p><b>Name:</b> {{vendor_name}}</p> 
                        <p><b>Address:</b>  {{shipping_address}}</p>
                        <p> <b>Phone No.</b>  :{{vendor_number}}</p>
                      
                     </td>
                     <td colspan="3" style="text-align: left;">
                        <p> <b>PO No.</b>  :{{po_number}}</p><br>
                        <p> <b>Date :</b>{{po_date}}  </p><br>
                        <!-- <p><b>Dispatch Doc No:</b> </p><br>
                        <p><b>Date:</b> </p> -->
                     </td>
                     
                     
                 </tr>
                 <tr>
                    <td colspan="3" style="text-align: left;">
                       <h6>Billing Details (Bill To)</h6>
                       <p><b>Name:</b> {{vendor_name}}</p>
                       <p><b>Address:</b>  {{shipping_address}}</p>
                       <p> <b>Phone No.</b>  :{{vendor_number}}</p>
                      
                    </td>
                    <td colspan="3" style="text-align: left;">
                        <p> <b>PO No.</b>  :{{po_number}}</p><br>
                        <p> <b>Date :</b> {{po_date}} </p><br>
                        <!-- <p><b>Dispatch Doc No:</b> </p><br>
                        <p><b>Date:</b> </p> -->
                    </td>
                </tr>
                <tr>
                    
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>GST%</th>
                    <th>Disc Amount</th>
                    <th> GST Amount</th>
                    <th>Total Amount</th>
                </tr>
                <tr *ngFor="let item of invoice_details.order_details">
                    <td >{{item.product__product_name}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.gst}}</td>
                    <td>{{item.disc_amount}}</td>
                   <td>{{item.gst_amount}}</td>
                    <td>{{item.total_amount}}</td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                </tr>

                <tr>
                    <td colspan="3" style="visibility: hidden;" >
                        
                        <table class="table-bordered diftab">
                            <thead> 
                            <tr>
                                <th>HSNCODE</th>
                                <th>TAXABLE AMT</th>
                                <th>CGST RATE</th>
                                <th>CGST AMT</th>
                                <th>SCGST RATE</th>
                                <th>SCGST AMT</th>
                                <th>IGST RATE</th>
                                <th>IGST AMT</th>
                            </tr>
                       </thead> 
                         <tbody> 
                            <tr>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                
                                <td>CGST</td>
                                <td>0.00</td>
                                <td>SGST</td>
                                <td>0.00</td>
                                <td>IGST</td>
                                <td>0.00</td>
                            </tr> 
                         </tbody>
                        </table> 
                    </td>
                    <td colspan="3" style="text-align: left;">
                        <h6>Total Amount</h6>
                            
                       
                        <p>CGST: {{cgst}} </p>
                        <p>SGST:{{sgst}}  </p>
                        <p>IGST:{{igst}}  </p>
                        
                        
                        <hr>
                        <p style="text-align: left;"><b>Grand Total:</b>  {{grandTotal}}</p>
                     </td>
                    

                </tr>
                <tr>
                    <td colspan="6" style="text-align: left;"><b>Rupess:</b> {{grandTotal | amountToWord}}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="col-md-12" style="text-align: left;">
                                <b><h6>Terms and Conditions</h6></b>
                                <p>1. All the dispute will be Subject to Bangalore Jurisdiction. <br>
                                    2. In all claims the company decision is final and binding. <br>
                                    3. In case if the payment are not made within due date 24% Interest will be charged p. a. <br>
                                    4. The Warranty commence from the date of Invoice .
                                 </p>
                              
                            </div>
                         
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left;">
                        <div class="d-flex-1 text-center">
                            <p>RECEIVED THE MATERIAL IN GOOD CONDITION</p><br>
                            <p>RECEIVER'S SIGNATURE AND SEAL</p>
                        </div>
                    </td>
                    <td colspan="3" style="text-align: left;">
                        <div class="d-flex-1 text-center">
                            <p>For <b>D5N</b></p><br>
                            <p>Authorised Signatory</p>
                        </div>
                        
                    </td>
                </tr>
            </tbody>


        </table>


        <hr>
        <button class="btn btn-secondary" type="button" id="print">Print Bill</button>
        
    </nb-card-body>
</nb-card>
</div>
