<div id="" [formGroup]="categoryFrom" >
    <div class="row">
        <div class="col-md-3"> 
            <label for="categoryName">Category Name</label>
            <input nbInput formControlName="categoryNameFormControl" name="categoryName" placeholder="Category Name" />
        </div>
        <div class="col-md-3">
            <input nbInput formControlName="categoryCodeFormControl" name="categoryCode" placeholder="Category Code"/>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3">
            <input nbInput formControlName="categoryDescFormControl" name="categoryDesc" placeholder="Category Desc"/>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-md-4"> 
            <button nbButton (click)="save_category();" status="success">Save</button>
        </div>
    </div>
</div><br>
<div>
    <nb-card>
        <nb-card-header>Category List</nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let category of categories">
                <i class="mr-auto mt-2 mt-lg-0">{{ category.category_code }} - {{ category.category_name }} - {{category.description }}</i>
                <button nbButton size="small">Select</button>
              </nb-list-item>
        </nb-card-body>
    </nb-card>
</div>