<form id="" [formGroup]="categoryFrom" (ngSubmit)= "onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="categoryName">Category Name <span style="color: red;">*</span></label>
            <input nbInput formControlName="categoryNameFormControl" name="categoryName" placeholder="Category Name"
            [ngClass]="{ 'is-invalid': submitted && f.categoryNameFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.categoryNameFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.categoryNameFormControl.errors.required">Name is required</div>
            </div>
        </div>
        <div class=" form-group col-md-3">
            <label for="categoryCode">Category Code <span style="color: red;">*</span></label>
            <input nbInput formControlName="categoryCodeFormControl" name="categoryCode" placeholder="Category Code"
            [ngClass]="{ 'is-invalid': submitted && f.categoryCodeFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.categoryCodeFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.categoryCodeFormControl.errors.required">Code is required</div>
            </div>
        </div>
    </div><br>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="categoryDesc">Category Description <span style="color: red;">*</span></label>
            <input nbInput formControlName="categoryDescFormControl" name="categoryDesc" placeholder="Category Description"
            [ngClass]="{ 'is-invalid': submitted && f.categoryDescFormControl.errors }" class="form-control"/>
            <div *ngIf="submitted && f.categoryDescFormControl.errors" class="invalid-feedback">
                <div *ngIf="f.categoryDescFormControl.errors.required">Description is required</div>
            </div>
        </div>
    </div><br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button nbButton [hidden]="!createFlag" size="small" (click)="save_category();" status="success" *ngxPermissionsOnly="['inventory.add_productcategory']">Save</button>
            <button nbButton [hidden]="createFlag" size="small" (click)="update_category();" status="success" *ngxPermissionsOnly="['inventory.change_productcategory']" >Update</button>
        </div>
    </div>
</form><br>
<div>
    <nb-card>
        <nb-card-header>Category List &nbsp;&nbsp; <input type="text" nbInput size="small" placeholder="Search .." [(ngModel)] = "searchCategory" /></nb-card-header>
        <nb-card-body>
            <nb-list-item *ngFor="let category of categories | search_filter:'category_name,category_code':searchCategory">
                <i class="mr-auto mt-2 mt-lg-0">{{ category.category_code }} - {{ category.category_name }} - {{category.description }}</i>
                <button nbButton size="small" (click)="selected_category(category)" >Select</button>
                <!-- <button class="remove-from-category" nbButton size="small"  href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></button> -->
            </nb-list-item>
        </nb-card-body>
    </nb-card>
</div>
