<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
        <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="#" id="company"> <img src="assets/img/Saffaran-logo.png" width="40px"> Saffran</a>

    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="nav navbar-nav navbar-left" id="searchBtn">

            <li class="dropdown nav-item padding-top">
                <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">Categories <b class="caret"></b></a>
                <div class="dropdown-menu mega-menu">
                    <ul style="display: flex;padding:0px">

                        <li class="mega-menu-column">
                            <ul class="list-group">
                                <!-- <li class="nav-header">Categories</li> -->
                                <li>
                                    <a class="list-group-item list-group-item-action flex-column align-items-start" (mouseenter)="mouseEnter(category.Subcatogories)" *ngFor="let category of CategoryList; let i=index">
                          {{category.category_name}}
                          </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mega-menu-column">
                            <ul class="list-group">
                                <!-- <li class="nav-header">SubCategories</li> -->
                                <li>
                                    <a class="list-group-item dropdown-item" href="category/{{subCategory.category__category_name}}" *ngFor="let subCategory of subcategorylist" style="color: black;">
                                    {{subCategory.category__category_name}}</a>

                                </li>

                            </ul>
                        </li>



                    </ul>
                </div>
            </li>
            &nbsp;
            <li class="nav-item padding-top">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" (input)="Search($event.target.value)" placeholder="Search">
                </div>
            </li>
        </ul>
        <!-- <span class="nav-link">{{ first_name}}</span> -->
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">
                <a class="nav-link" href="/cart"> <i class="fa fa-shopping-cart float-right-o"></i>&nbsp;My Cart <span class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

                </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login

        </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Register">Sign Up

        </a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/wishlist"> <i class="fa fa-heart float-right-o"></i>&nbsp;Wishlist</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/profile"><i class="fa fa-user float-right-o"></i>&nbsp;{{ first_name }}</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
            </li>

        </ul>




    </div>
</nav>
<br>
