<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="#" id="company"> <img src="assets/img/Saffaran-logo.png" width="40px"> Saffaran</a>
        <span class="nav-link">{{ first_name}}</span>
        <ul class="navbar-nav">
            <li>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" (input)="Search($event.target.value)" placeholder="Search">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">My Cart

          </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Login">Login

          </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Register">Sign Up

          </a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/wishlist">Wishlist</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/myorders">My orders</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>



    </div>
</nav>
<br>
