<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#6d7fcc">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" (click)="onToggleSidenav()">
<span class="navbar-toggler-icon"></span>
</button>
        <a class="navbar-brand mr-auto mt-2 mt-lg-0" style="color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;" href="#" id="company"> <img src="assets/img/Saffaran-logo.png" width="40px"> Saffran </a>

    </div>
    <div id="navbarTogglerDemo01">


        <ul class="nav navbar-nav navbar-left" id="searchBtn">

            <li class="dropdown nav-item padding-top">
                <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">Categories <b class="caret"></b></a>
                <div class="dropdown-menu mega-menu" (click)="$event.stopPropagation()">
                    <ul style="display: flex;padding:0px">

                        <li class="mega-menu-column">
                            <ul class="list-group">
                                
                                <li>
                                    <a class="list-group-item list-group-item-action flex-column align-items-start" (mouseenter)="mouseEnter(category.Subcatogories)" (click)="mouseEnter(category.Subcatogories)" *ngFor="let category of CategoryList; let i=index">
                        {{category.category_name}}
                        </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mega-menu-column">
                            <ul class="list-group">
                                
                                <li>
                                    <a class="list-group-item dropdown-item" href="category?data={{subCategory.sub_category_name}}" *ngFor="let subCategory of subcategorylist" style="color: black;">
                                  {{subCategory.sub_category_name}}</a>

                                </li>

                            </ul>
                        </li>



                    </ul>
                </div>
            </li>
            &nbsp;
            <li class="nav-item padding-top">
                <div class="form-group has-search" style="margin-bottom:0px;">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" (input)="Search($event.target.value)" placeholder="Search">
                </div>
            </li>
        </ul>
        

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" id="mobview-search">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" style="width: 95%;" (input)="Search($event.target.value)" placeholder="Search">
                </div>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right desktop-view-icon">

            <li class="nav-item">
                <a class="nav-link" href="/cart" style="color: white;"> <i class="fa fa-shopping-cart float-right-o desktop-view-icon"></i>&nbsp;My Cart <span class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

                </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Login" style="color: white;"><i class="fa fa-sign-in desktop-view-icon" aria-hidden="true"></i>&nbsp;Login

    </a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Register" style="color: white;">Sign Up

    </a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/wishlist" style="color: white;"> <i class="fa fa-heart float-right-o desktop-view-icon"></i>&nbsp;Wishlist <span class='badge badge-warning' id='lblwishlistCount' *ngIf="wishlistCount"> {{wishlistCount}} </span></a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/profile" style="color: white;"><i class="fa fa-user float-right-o desktop-view-icon"></i>&nbsp;{{ first_name }}</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" (click)="logout()" style="color: white;"><i class="fa fa-sign-out desktop-view-icon" aria-hidden="true"></i>&nbsp;Logout</a>
            </li>

        </ul>

        <div class="desktop-view">

            <div class="nav-item">
                <a class="nav-link" href="/cart" style="color: white;"> <i class="fa fa-shopping-cart float-right-o desktop-view-icon"></i>&nbsp;My Cart <span class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

                </a>
            </div>
            <div class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Login" style="color: white;"><i class="fa fa-sign-in desktop-view-icon" aria-hidden="true"></i>&nbsp;Login

      </a>
            </div>
            <div class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" href="/Register" style="color: white;">Sign Up

      </a>
            </div>
            <div class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/wishlist" style="color: white;"> <i class="fa fa-heart float-right-o desktop-view-icon"></i>&nbsp;Wishlist</a>
            </div>
            <div class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" href="/profile" style="color: white;"><i class="fa fa-user float-right-o desktop-view-icon"></i>&nbsp;{{ first_name }}</a>
            </div>
            <div class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" (click)="logout()" style="color: white;"><i class="fa fa-sign-out desktop-view-icon" aria-hidden="true"></i>&nbsp;Logout</a>
            </div>

        </div>

    </div>


</nav>
<br>

<div id="mobview">
    <div>
        <a class="nav-link" href="/Home"> <i class="fa fa-home float-right-o fa-3x"></i>

        </a>
    </div>
    <div>
        <a class="nav-link" href="/cart"> <i class="fa fa-shopping-cart float-right-o fa-3x"></i>
            <span class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

        </a>
    </div>
    <div *ngIf="!isAuthenticated">
        <a class="nav-link" href="/Login"><i class="fa fa-sign-in fa-3x"  aria-hidden="true"></i>

</a>
    </div>
    <div *ngIf="!isAuthenticated">
        <a class="nav-link" href="/Register">
            <i class="fa fa-user-plus-o float-right-o fa-3x"></i>
        </a>
    </div>
    <div *ngIf="isAuthenticated">
        <a class="nav-link" href="/wishlist"> <i class="fa fa-heart float-right fa-3x"></i></a>
    </div>
     
    <div *ngIf="isAuthenticated">
        <a class="nav-link" href="/profile"> <i class="fa fa-user float-right fa-3x"></i></a>
    </div>
    <div *ngIf="isAuthenticated">
        <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out fa-3x" aria-hidden="true" ></i></a>
    </div>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleSidenav()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <span><a href="/"><img src="assets/img/Saffaran-logo.png" width="40px"> &nbsp; Saffran </a></span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <button mat-stroked-button [matMenuTriggerFor]="categories">Categories</button>
        <mat-menu #categories="matMenu">
            <button mat-menu-item (mouseenter)="mouseEnter(category.Subcatogories)"
                (click)="mouseEnter(category.Subcatogories)" *ngFor="let category of CategoryList; let i=index"
                [matMenuTriggerFor]="subcategories"> {{category.category_name}}</button>
        </mat-menu>
        <mat-menu #subcategories="matMenu">
            <a mat-menu-item style="color: black;" href="category?data={{subCategory.sub_category_name}}" *ngFor="let subCategory of subcategorylist">{{subCategory.sub_category_name}}</a>
        </mat-menu>
    </div>
    <!-- <mat-form-field floatLabel="never"> -->
        <input class="form-control input-control-sm" fxHide.lt-md="true"  type="text" (input)="Search($event.target.value)" placeholder="Search here.." autocomplete="off" />
        <!-- <mat-icon [color]="searchInput.focused ? 'primary' : ''" matSuffix>search</mat-icon> -->
    <!-- </mat-form-field> -->
          
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button href="/cart" style="color: white;"> <i
                class="fa fa-shopping-cart float-right-o desktop-view-icon"></i>&nbsp;My Cart <span
                class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

        </a>

        <a *ngIf="!isAuthenticated" mat-button href="/Login" style="color: white;"><i
                class="fa fa-sign-in desktop-view-icon" aria-hidden="true"></i>&nbsp;Login
        </a>

        <a *ngIf="!isAuthenticated" mat-button href="/Register" style="color: white;">Sign Up
        </a>

        <a *ngIf="isAuthenticated" mat-button href="/wishlist" style="color: white;"> <i
                class="fa fa-heart float-right-o desktop-view-icon"></i>&nbsp;Wishlist</a>

        <a *ngIf="isAuthenticated" mat-button href="/profile" style="color: white;"><i
                class="fa fa-user float-right-o desktop-view-icon"></i>&nbsp;{{ first_name }}</a>

        <a *ngIf="isAuthenticated" mat-button (click)="logout()" style="color: white;"><i
                class="fa fa-sign-out desktop-view-icon" aria-hidden="true"></i>&nbsp;Logout</a>

    </div>
    </mat-toolbar-row>
    <mat-toolbar-row  fxShow="true" fxHide.gt-sm>
        <input class="form-control input-control-sm"  type="text" (input)="Search($event.target.value)" placeholder="Search here.." autocomplete="off" />
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" fxShow="true" fxHide.gt-sm id="mobview">
<div >
    <a mat-button href="/cart" style="color: white;font-size: 1em;"> <i class="fa fa-shopping-cart float-right"></i> <span
            class='badge badge-warning' id='lblCartCount' *ngIf="count"> {{count}} </span>

    </a>

    <a *ngIf="!isAuthenticated" mat-button href="/Login" style="color: white;font-size: 1em;"> <i class="fa fa-sign-in float-right"></i>
    </a>

    <a *ngIf="!isAuthenticated" mat-button href="/Register" style="color: white;font-size: 1em;"> <i class="fa fa-arrow-right float-right"></i>
    </a>
    <a  mat-button href="/Home" style="color: white;font-size: 1em;"> <i class="fa fa-home float-right"></i>
    </a>

    <a *ngIf="isAuthenticated" mat-button href="/wishlist" style="color: white;font-size: 1em;"> <i class="fa fa-heart float-right"></i></a>

    <a *ngIf="isAuthenticated" mat-button href="/profile" style="color: white;font-size: 1em;"> <i class="fa fa-user float-right"></i></a>

    <a *ngIf="isAuthenticated" mat-button (click)="logout()" style="color: white;font-size: 1em;"> <i class="fa fa-sign-out float-right"></i></a>

</div>
</mat-toolbar>
<style>
    .example-spacer {
        flex: 1 1 auto;
    }
</style>