nav {
    position: sticky;
    z-index: 4;
    top: 0px;
}

.nav-link {
    cursor: pointer;
    color: white;
}

.nav-item {
    color: white;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


/* page style */

a,
a:focus,
a:active,
a:hover,
object,
embed {
    outline: none;
    text-decoration: none;
}

:-moz-any-link:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: 0;
}

body {
    background: #333;
}

.brand {
    padding: 10px 40px !important;
}

.fa-heart {
    color: white;
}


/* MEGA MENU STYLE
********************************/

.mega-menu {
    padding: 0px 0px ! important;
    width: 540px;
    border-radius: 0;
    margin-top: 0px;
}

.mega-menu li {
    display: inline-block;
    float: left;
    font-size: 0.94rem;
    padding: 0px 0px;
}

.mega-menu li.mega-menu-column {
    // margin-right: 20px;
    width: 50%;
}

.mega-menu .nav-header {
    padding: 0 !important;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.mega-menu img {
    padding-bottom: 10px;
}


/* Disable Toggle style
********************************/


/* Dropdown Toggle on style */

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background: inherit;
    /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
}


/* Toggle off style */

.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.navbar .nav>li.dropdown>a:focus {
    background: inherit;
    color: inherit;
}


/* Toggle hover */

.navbar .nav li.dropdown>.dropdown-toggle:hover,
.navbar .nav li.dropdown.open>.dropdown-toggle:hover {
    background-color: #DDDDDD;
}


/* Toggle caret*/


/* Toggle caret hover */

.navbar .nav li.dropdown>a:hover .caret,
.navbar .nav li.dropdown>a:focus .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}


/* Toggle caret active */

.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}


/* Hover style
********************************/

.navbar .nav>li>a,
.mega-menu a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/
    -webkit-backface-visibility: hidden;
    /* Safari Flicker Fix #2 */
    -webkit-transform: translateZ(0);
}

#search {
    display: block;
    text-align: center;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
}

.desktop-view {
    display: none;
}

@media (min-width: 800px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
}

.navbar-left {
    float: left!important;
    margin-left: 15px;
}

// .padding-top {
//     padding-top: 8px;
// }
#mobview {
    display: none;
}

#catagoryList {
    display: none;
}

.category {
    font-size: 16px;
}

#mobview-search {
    display: none;
}

#navbarTogglerDemo01 {
    width: -webkit-fill-available;
}

.fa-3x {
    color: #6d7fcc;
}

// .navbar
// {
//   height: 56px;
// }
@media screen and (max-width: 800px) {
    .navbar {
        height: auto;
    }
    .desktop-view {
        display: flex;
    }
    .desktop-view-icon {
        display: none;
    }
    #mobview-search {
        display: block;
    }
    #catagoryList {
        display: block;
    }
    #searchBtn {
        display: none;
    }
    .navbar-right {
        float: none!important;
    }
    .navbar-header {
        width: 100%;
    }
    // .navbar-toggler {
    //     float: right;
    //     margin-top: 10px;
    // }
    #mobview {
        z-index: 10;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        width: -webkit-fill-available;
        background: rgba(255, 255, 255, 0.8);
    }
    .nav-link {
        color: black;
    }
    #lblCartCount {
        position: absolute;
        vertical-align: none;
        margin-left: 0;
        margin-top: 0;
    }
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: blue;
    color: #fff;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -8px;
}

#lblwishlistCount {
    font-size: 12px;
    background: blue;
    color: #fff;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -8px;
}
a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}