  <div>
  <div class="row">
    <button nbButton status="info" [routerLink]="['/ManageBooking']">Book Now !</button>
  </div><br>
  <div class="row">
        <div class="col-md-6">
        <nb-card style="width: 30em;">
            <nb-card-header>
                Customers
            </nb-card-header>
            <div>
              <ng2-smart-table [settings]="custSettings" [source]="customerList"></ng2-smart-table>
            </div>
        </nb-card>
        </div>
        <div class="col-md-6" style="width: 30em;">
            <nb-card>
            <nb-card-header>
                Top Services
            </nb-card-header>
            <div style="display: block;" *ngIf="pieChartLabels.length !== 0 && pieChartData.length !== 0">

                <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </nb-card>
        </div>
</div>
<div class="row">
    <div class="col-md-6" style="width: 30em;">
        <nb-card>
            <nb-card-header>
                Sales Trends
            </nb-card-header>
            <div style="display: block;">
                <canvas baseChart
                  [datasets]="s_lineChartData"
                  [labels]="s_lineChartLabels"
                  [colors]="s_lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
              </div>
        </nb-card>
    </div>
    <div class="col-md-6" style="width: 30em;">
      <nb-card>
          <nb-card-header>
              Store Trends
          </nb-card-header>
          <div style="display: block;">
              <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>
            </div>
      </nb-card>
  </div>
</div>
</div>
