<!-- <div class="row">
    <div class="col-md-3">
        <nb-card status="success">
            <nb-card-header> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Total Orders ({{orders_data.length}})</nb-card-header>
            <nb-card-body>
                
            </nb-card-body>
            <nb-card-footer>
                <a href="OrderList" nbButton size="small" >View </a>
            </nb-card-footer>
        </nb-card>
    </div>&nbsp;&nbsp;&nbsp;

</div> -->
<!-- <div class="row">
    <nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Orders">
            <nb-list >
                <nb-list-item *ngFor="let order of orders_data" > {{ order.order_number }} &nbsp;&nbsp; ||  &nbsp;&nbsp;  {{ order.order_amount }}  &nbsp;&nbsp; ||  &nbsp;&nbsp;   {{order.customer__first_name}}</nb-list-item>
            </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Sales"></nb-tab>
    </nb-tabset>
</nb-card>
</div> -->
<div class="row">
    <div class="col-md-6">
        <nb-card style="width: 30em;">
            <nb-card-header>
                Booking Trends
            </nb-card-header>
            <div>
                <div>
                <div style="display: block">
                    <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                    </canvas>
                </div>
                <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
                </div>
            </div>
        </nb-card>
        </div>
        <div class="col-md-6" style="width: 30em;">
            <nb-card>
            <nb-card-header>
                Top Services
            </nb-card-header>
            <div style="display: block;" *ngIf="pieChartLabels.length !== 0 && pieChartData.length !== 0">
                
                <canvas baseChart 
                  [data]="pieChartData" 
                  [labels]="pieChartLabels" 
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </nb-card>
        </div>
</div>
<div class="row">
    <!-- <div class="col-md-6" style="width: 30em;">
        <nb-card>
            <nb-card-header>
                Product Stock
            </nb-card-header>
        </nb-card>
    </div> -->
    <div class="col-md-6" style="width: 30em;">
        <nb-card>
            <nb-card-header>
                Store Trends
            </nb-card-header>
            <div style="display: block;">
                <canvas baseChart 
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"                  
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
              </div>
        </nb-card>
    </div>
</div>