<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of PrimaryBanner;  let i=index" [ngClass]="(i === 0) ? 'active' : ''" [innerHTML]="item.setting_Value">
            </div>
        </div>
    </div>
    <br>

    <!-- category Lists -->
    <div *ngFor="let category of CategoryList; let i =index">
        <div id="category-name">{{category.category_name}}</div>
        <br>
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let subcategory of category.Subcatogories">
                    <mat-card class="mat-elevation-z4">
                        <div (click)="GoToCategoryList(subcategory.category__category_name)" id="category">
                            <mat-card-header style="justify-content: center;">
                                <mat-card-title class="overflowText">{{subcategory.sub_category_name}}</mat-card-title>
                            </mat-card-header>

                            <!-- <img height="200px" mat-card-image src="{{BaseUrl+subcategory.sub_category_image}}"> -->
                            <img height="150em" width="10em" style="border: 0;" mat-card-image *ngIf="subcategory.sub_category_image" src="{{BaseUrl+subcategory.sub_category_image}}">
                            <img height="150em" width="10em" style="border: 0;" mat-card-image *ngIf="!subcategory.sub_category_image" src="/assets/no-image-icon.jpg">
                            <mat-card-content>
                                <p>
                                    {{ subcategory.description }}
                                </p>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <br>
        <div id="view-button"><button type="button" (click)="GoToCategoryList(category.category_name)" class="btn btn-default" style="background-color:rgb(242,172,100);color:white">View All <i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
        <br><br>

        <div *ngIf="i == 1">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let item of SecondaryBanner;  let i=index" [ngClass]="(i === 0) ? 'active' : ''" [innerHTML]="item.setting_Value">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="i == 3">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let item of OfferBanner;  let i=index" [ngClass]="(i === 0) ? 'active' : ''" [innerHTML]="item.setting_Value">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
