<div class="container">
    <div>
        <div class="userdetails">
            <div class="card" id="card">
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="30%" fxFlex.sm="50%">
                        <h2 class="mb-0">Name</h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="70%" fxFlex.sm="50%">
                        {{first_name}}
                    </div>
                </div>
                <hr>
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="35%" fxFlex.sm="50%">
                        <h2 class="mb-0">Email</h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="65%" fxFlex.sm="50%">
                        {{email}}
                    </div>
                </div>
                <hr>
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="35%" fxFlex.sm="50%">
                        <h2 class="mb-0">Mobile</h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="65%" fxFlex.sm="50%">
                        <div *ngIf="!editPhone"> <span>{{phone}}</span> <span style="float: right;" (click)="EditPhoneNumber()"><button  mat-fab color="primary" >
                          <mat-icon>edit</mat-icon>
                        </button></span></div>

                        <div *ngIf="editPhone">
                            <form #EPN="ngForm" (ngSubmit)="ChangePassword(EPN)">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="number" name="phone_number" ngModel required>
                                </mat-form-field>
                                &nbsp;&nbsp;
                                <button mat-raised-button type="submit" color="primary">Primary</button>
                                <button class="close" mat-button (click)="CloseEdit()" style="float: right;">x</button>
                            </form>


                        </div>
                    </div>
                </div>
                <hr>
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="35%" fxFlex.sm="50%">
                        <h2 class="mb-0">Password</h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="65%" fxFlex.sm="50%">
                        ********* <span style="float: right;"><a href="/resetpassword"><button  mat-fab color="primary">
                          <mat-icon>edit</mat-icon>
                        </button></a></span>
                    </div>
                </div>
                <!-- <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="30%" fxFlex.sm="50%">
                        <h2 class="mb-0">
                            Address
                        </h2>
                    </div>
                    <div fxFlex="50%" fxFlex.xs="70%" fxFlex.sm="50%">
                        address
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <br>
    <div fxLayout="row wrap" class="flex-gap" fxLayoutGap="grid">
        <div class="card pointer" fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="32%" (click)="Goto('wishlist')">
            <div class="card-body" id="card-body">
                <div><img width="50px" height="50px" src="https://cdn1.iconfinder.com/data/icons/ios-web-user-interface-two-color-vol-3/512/Bookmark_wishlist_favorites_favourite_heart_like_love-512.png"> </div>
                <h2 class="card-title">
                    Wishlist
                </h2>
            </div>
        </div>
        <div class="card pointer" fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="32%" (click)="Goto('myorders')">
            <div class="card-body" id="card-body">
                <div><img width="50px" height="50px" src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-2-1/32/Success-Place-Order-Complete-Shopping-Tick-512.png"> </div>
                <h2 class="card-title">
                    My Orders
                </h2>
            </div>
        </div>
        <div class="card pointer" fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="32%" (click)="Goto('contactus')">
            <div class="card-body" id="card-body">
                <div><img width="50px" height="50px" src="https://www.clipartmax.com/png/middle/480-4800097_contact-us-contact-us-round-icon.png"> </div>
                <h2 class="card-title">
                    Contact Us
                </h2>
            </div>
        </div>
    </div>
</div>