<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="20%">
            <div class="panel">
                <div class="user-heading">
                    <img class="round" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                </div><br>
                <div class="user-info">
                    <h1>vishal </h1>
                    <p>vishalsmg97@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="container" fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="80%">
            <div fxLayout="row wrap" fxLayoutGap="grid">
                <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                    <h2 class="mb-0">Full Name</h2>
                </div>
                <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                    Kenneth Valdez
                </div>
            </div>
            <hr>
            <div fxLayout="row wrap" fxLayoutGap="grid">
                <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                    <h2 class="mb-0">Full Name</h2>
                </div>
                <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                    Kenneth Valdez
                </div>
            </div>
            <hr>

        </div>
    </div>
</div>
