
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" [fullScreen]="true">
    <mat-spinner><img src="../assets/img/Saffaran-logo.png" height="40" width="40"></mat-spinner>

</ngx-spinner>
<app-layout >
    <mat-sidenav-container>
       
        <mat-sidenav #sidenav role="navigation">
            <app-side-navbar-content></app-side-navbar-content>
        </mat-sidenav>
     
        
        <mat-sidenav-content class="example-sidenav-container" >
            <app-header (sidenavToggle)="sidenav.toggle()" ></app-header>
            <main style="margin-top: 5em;">
                <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
                <app-toast></app-toast>
                <app-footer fxHide.lt-md="true"></app-footer>
            </main>
        </mat-sidenav-content>
    
    </mat-sidenav-container>
</app-layout>
<!--
<mat-sidenav-content>
    <app-header></app-header>
    <main>
        <router-outlet></router-outlet>
        <app-toast></app-toast>
        <app-footer></app-footer>
    </main>
</mat-sidenav-content> -->
<!--
<app-header></app-header>
<router-outlet></router-outlet> -->