.content {}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
}

#FormControlSelect {
    height: auto;
}

#sidebar-wrapper {
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

mat-slider {
    width: 100%;
}

#applyfilter {
    display: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        display: block;
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #sidebar-wrapper {
        display: none;
        margin-left: 0;
    }
    #applyfilter {
        display: flex;
        justify-content: right;
        display: block;
    }
    .content {
        padding: 0 5% 0 5%;
    }
}
