<div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="20%">

        <div class="container" id="applyfilter">
            <button class="btn btn-info" style="margin-right:15px;" (click)="ApplyFilter()">Apply Filter</button>
        </div>
        <br>
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div>
                <div class="sidebar-heading">Price </div>
                <div>
                    <mat-slider thumbLabel (input)="onInputChange($event.value)" tickInterval="500" min="1" max="5000" value="5000"></mat-slider>

                </div>
            </div>
            <div *ngFor="let data of FilterList">
                <div class="sidebar-heading">{{data.header}} </div>
                <div *ngFor="let filter of data.filters">
                    <mat-checkbox color="primary" (change)="FilterData(data.header,filter)">{{filter}}</mat-checkbox>
                </div>
            </div>

        </div>
    </div>
    <div fxFlex="78%" fxFlex.xs="100%" fxFlex.sm="78%" id="productdisplay">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let Product of FilteredList">
                    <mat-card class="mat-elevation-z4">
                        <div (click)="GotoProductview(Product.product_code)" id="product">
                            <mat-card-header style="justify-content: center;">
                                <mat-card-title class="overflowText">{{Product.product_name}}

                                </mat-card-title>
                            </mat-card-header>
                            <img class="product-image" width="150" style="border: 0;" mat-card-image *ngIf="Product.product_image" src="{{BaseUrl+Product.product_image}}">
                            <img class="product-image" width="150" style="border: 0;" mat-card-image *ngIf="!Product.product_image" src="/assets/no-image-icon.jpg">
                            <mat-card-content>
                                <p style="font-size: smaller; ">
                                    {{Product.brand__brand_name}}
                                </p>
                            </mat-card-content>
                        </div>
                        <mat-card-actions>
                            <form #crf="ngForm" (ngSubmit)="AddToCart(crf,Product)">
                                <div>
                                    <!-- <select class="form-control" id="FormControlSelect" name="packingType" ngModel required>
            <option *ngFor="let packingType of Product.price; let i = index"  value={{packingType.id}}  [attr.selected]="i == 0">
              {{packingType.qty+" "+packingType.unit__PrimaryUnit +" - "}}  {{ packingType.sell_price | currency :'INR' }}
            </option>
          </select> -->

                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Unit</mat-label>
                                        <mat-select id="FormControlSelect" name="packingType" ngModel required>
                                            <mat-option *ngFor="let packingType of Product.price; let i = index" [value]="packingType.id">
                                                {{packingType.qty+" "+packingType.unit__PrimaryUnit +" - "}} {{ packingType.sell_price | currency :'INR' }}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                                <div class="form-group" class="addToCart">
                                    <input type="number" min="1" class="form-control" id="exampleFormControlInput1" name="Quantity" placeholder="Quantity" ngModel required> &nbsp;
                                    <button type="submit" class="btn btn-outline-primary btn-sm" style="width: -webkit-fill-available;">Add to cart</button> &nbsp;&nbsp;
                                    <span class="float-right">
                                        <i *ngIf="Product.wish_list_flag==1"  class="fa fa-heart float-right" style="color: palevioletred;" (click)="RemoveFromWishlist(Product)"></i>
                                        <i *ngIf="Product.wish_list_flag==0"  class="fa fa-heart-o float-right" (click)="AddToWishlist(Product)"></i>
                                    </span>
                                </div>


                            </form>

                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>